@{
    Layout = "";
}
<!--<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Đăng nhập</title>-->

    <!-- Custom fonts for this template-->
    <!--<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />-->
    <!-- Custom styles for this template-->
    <!--<link rel="stylesheet" href="/lib/sb-admin/css/sb-admin-2.min.css" />

</head>

<body class="bg-gradient-primary">

    <div class="container">-->

        <!-- Outer Row -->
        <!--<div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">-->
                        <!-- Nested Row within Card Body -->
                        <!--<div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                   id="exampleInputEmail" aria-describedby="emailHelp"
                                                   placeholder="Enter Email Address...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                   id="exampleInputPassword" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">
                                                    Remember
                                                    Me
                                                </label>
                                            </div>
                                        </div>
                                        <a href="javascript:;" class="btn btn-primary btn-user btn-block btn-check-login">
                                            Login
                                        </a>
                                        <hr>
                                        <a href="index.html" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Login with Google
                                        </a>
                                        <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                        </a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="register.html">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>-->

    <!-- Bootstrap core JavaScript-->
    <!--<script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
    <!-- Core plugin JavaScript-->
    <!--<script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->
    <!-- Custom scripts for all pages-->
    <!--<script src="js/sb-admin-2.min.js"></script>-->
    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $('.btn-check-login').on('click', function () {
            let data = {};
            data["username"] = "ngotungdat"; //I just wanted to show you how you can add values to a json object
            data["password"] = "2331";
            $.ajax({
                url: '@Url.Action("CheckLogin", "Login")',
                data: JSON.stringify(data),
                type: "POST",
                dataType: 'JSON',
                contentType: "application/json",
                success: function (data) {
                    //do stuff with json result
                },
                error: function (passParams) {
                    console.log("Error is ");
                }
            });
        });
    </script>
</body>

</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/house/images/favicon.ico">
    <title>Mona House</title>
    <!-- vendor css -->
    <link href="~/house/lib/@("@fortawesome")/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/house/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <!-- DashForge CSS -->
    <link rel="stylesheet" href="~/house/assets/css/dashforge.css">
    <link rel="stylesheet" href="~/house/assets/css/dashforge.auth.css">

</head>
<body>
    <header>
        <style>
            ul {
                list-style: none;
                padding: 0px;
            }
        </style>
    </header><!-- navbar -->
    <div class="content content-fixed content-auth">
        <div class="container">
            <div class="media align-items-stretch justify-content-center ht-100p pos-relative">
                <div class="media-body align-items-center d-none d-lg-flex">
                    <div class="mx-wd-400" style="margin: 0 auto">
                        <img src="~/house/images/sign-in.png" style="width:420px;" alt="" />
                    </div>
                </div><!-- media-body -->
                <div class="sign-wrapper mg-lg-l-50 mg-xl-l-60 border rounded" style="box-shadow: 0px 0px 10px 1px #d0d0d0">
                    <div class="wd-100p">
                        <h3 class="tx-color-01 mg-b-20">Welcome Mona House</h3>
                        @using (Html.BeginForm("CheckLogin", "Login", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label>Tài khoản</label>
                                <input type="text" name="txt-username" required class="form-control" placeholder="Số điện thoại" value="demo">
                            </div>
                            <div class="form-group">
                                <div class="d-flex justify-content-between mg-b-5">
                                    <label class="mg-b-0-f">Mật khẩu:</label>
                                    <a href="@Url.Action("ForgotPassword", "Login", new { area = "" })" class="tx-13">Quên mật khẩu?</a>
                                </div>
                                <input type="password" name="txt-password" required class="form-control" placeholder="Nhập mật khẩu">
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger", @style = "text-align: center; color:red;" })
                            <button type="submit" class="btn btn-brand-02 btn-block">Đăng nhập</button>
                        }
                        <div class="tx-13 mg-t-20 tx-center">Bạn chưa có tài khoản? <a href="@Url.Action("SignUp","Login",new {area="" })">Đăng ký tại đây</a></div>
                    </div>
                </div><!-- sign-wrapper -->
            </div><!-- media -->
        </div><!-- container -->
    </div><!-- content -->
    <footer></footer>
    <script src="~/house/lib/jquery/jquery.min.js"></script>
    <script src="~/house/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/App_Themes/HouseMona/lib/feather-icons/feather.min.js"></script>
    <script src="~/App_Themes/HouseMona/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/App_Themes/HouseMona/assets/js/dashforge.js"></script>*@
    <!-- append theme customizer -->
    @*<script src="~/house/lib/js-cookie/js.cookie.js"></script>*@
    <script>
        $(document).ready(function () {
            $('form').submit(function () {
                $(this).find('button[type=submit]').prop('disabled', true);
            });
        });
    </script>
    <script>
        $('.btn-check-login').on('click', function () {
            let data = {};
            data["username"] = "ngotungdat"; //I just wanted to show you how you can add values to a json object
            data["password"] = "2331";
            $.ajax({
                url: '@Url.Action("CheckLogin", "Login")',
                data: JSON.stringify(data),
                type: "POST",
                dataType: 'JSON',
                contentType: "application/json",
                success: function (data) {
                    console.log(data);
                },
                error: function (passParams) {
                    console.log("Error is ");
                }
            });
        });
    </script>
</body>
</html>
