@using Sample.Models;
@{
    Layout = "";
}
<table class="table border">
    <thead class="thead-primary">
        <tr class="tr-header-table">
            <th class="checkbox-col">
            </th>
            <th class="sort-label" data-column="col-house">Họ và tên</th>
            <th class="sort-label" data-column="col-room">Số điện thoại</th>
            <th class="sort-label" data-column="col-people">Email</th>
            <th class="sort-label" data-column="col-status">Trạng thái</th>
            <th class="sort-label" data-column="col-electric">Ngày đăng ký</th>
            @*<th class="sort-label" data-column="col-deposit">Gói đang sử dụng</th>*@
            <th class="action-col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (UserModel item in Model)
            {
                <tr>
                    <td class="checkbox-col">
                        <a href="javascript:;" class="toggle-collapse" data-id="@item.Id" data-type="close" data-iscontent="false"><i class="fas fa-caret-down"></i></a>
                    </td>
                    <td data-column="col-house">
                        <a href="javascript:;">
                            @item.FullName
                        </a>
                    </td>
                    <td data-column="col-room">
                        <a href="room-detail.php">@item.Phone</a>
                    </td>
                    <td data-column="col-people">@item.Email</td>
                    <td data-column="col-status">
                        @{
                            if (item.Status == 0)
                            {
                                <span class="badge badge-success wd-100 pd-5 tx-12">
                                    Đã kích hoạt
                                </span>
                            }
                            else
                            {
                                <span class="badge badge-danger wd-100 pd-5 tx-12">
                                    Đã khóa
                                </span>
                            }

                        }

                    <p class="mg-b-0 mg-t-5 tx-12">Thuê vào: @item.Created.Value.Date.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)</p>
                    </td>
                    <td data-column="col-electric">@item.Created.Value.Date.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)</td>
                    @*<td data-column="col-deposit">
                        <span class="tx-danger tx-medium">Gói cá nhân</span>
                    </td>*@
                    <td class="action-col">
                        <div class="dropdown__wrap">
                            <a href="#" class="table-action"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                            <ul class="drop-menu">
                                <li class="drop-menu-item"><a href="@Url.Action("PackageOfUserList","PackageOfUser", new {UserId=item.Id })" class="item-link"><span class="icon"><i class="fas fa-info-circle" aria-hidden="true"></i></span>Lịch sử gói</a></li>
                                
                                @*<li class="drop-menu-item">
                                    <a href="#js-goOut" data-toggle="modal" class="item-link">
                                        <span class="icon"><i class="fas fa-sign-out-alt" aria-hidden="true"></i></span>Dọn
                                        ra
                                    </a>
                                </li>
                                <li class="drop-menu-item">
                                    <a href="add-people.php" class="item-link">
                                        <span class="icon"><i class="fas fa-sign-in-alt" aria-hidden="true"></i></span>Dọn
                                        vào
                                    </a>
                                </li>*@
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr class="collapse-row">
                    <td colspan="10" class="detailsDiv-@item.Id">
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


<script>
    //load trang chi tiết, có gắn cờ để biết khỏi load lại
    $(document).on('click', '.toggle-collapse', function (event) {
        const id = $(this).attr('data-id');
        const toggle = $(this).attr('data-type');
        if (toggle == 'close') {
            $(this).attr('data-type', 'open');
            const iscontent = $(this).attr('data-iscontent');
            if (iscontent == 'false') {
                get_detail(id);
                $(this).attr('data-iscontent', 'true');
            }
        }
        else if (toggle == 'open') {
            $(this).attr('data-type', 'close');
        }
    });

    function get_detail(id) {
        $.get('/user/UserOwnerDetailPartial?userId=' + id, function (data) {
            $('.detailsDiv-' + id).html(data);
        });
    }

    let page_index = @ViewData["pageindex"];
    let page_size = @ViewData["pagesize"];
    let total_page = @ViewData["totalpage"];
    let total_item = @ViewData["totalitem"];
    //load phân trang
    $(function () {
        load_pagination(pagination(page_index, total_page), page_index, total_page, total_item);
    });
    //load khi bấm chuyển trang
    function load_to_page(page_clicked) {
        page_index = page_clicked;
        //load lại data
        load_data(page_index, page_size, 0);
        //load lại phân trang
        load_pagination(pagination(page_index, total_page), page_index, total_page, total_item);
    }

</script>





