@model CoreModel

@using Sample.Entities
@{
    Users user = Model.Users;
}
<style>
    .table__filter__wrap .table tr th, .table__filter__wrap .table tr td {
        min-width: 80px;
    }
    /* BaoNguyen CSS*/
    .col-sm-12 {
        padding-bottom: 15px;
    }

    .table-striped tbody tr:nth-of-type(2n+1) {
        background-color: #f3f4f7;
    }

    .col-sm-6 {
        margin-bottom: 10px;
    }

    .shorter-text {
        display: block;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 70px;
    }

    .center {
        display: block;
        margin-right: 222px;
        width: 50%;
        max-width: auto;
        height: 140px;
    }

    .changeImage {
        max-width: 200px;
        height: auto;
        margin-left: 200px
    }

    .flex-container {
        display: flex;
        font-weight: 700;
        font-size: 17px;
    }
</style>
<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-sm-flex align-items-center justify-content-between ">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                    <li class="breadcrumb-item active" aria-current="page">Quản lý người dùng theo nhóm</li>
                </ol>
            </nav>
            <h4 class="mg-b-0 tx-spacing--1">Danh sách người dùng theo nhóm</h4>
        </div>
    </div>
    <div class="row row-xs">
        <div class="col">
            <div class="table__filter__wrap">
                <div class="table__filter-header">
                    <div class="table__header-left">
                        <a href="javascript:;" class="btn btn-primary btn-add-user-in-group" data-toggle="modal"><i class="fas fa-plus-circle"></i> Thêm mới</a>
                    </div>
                    <div class="table__header-right">
                        <div class="header__right-action">
                            <div class="search__box control mg-md-r-5">
                                <input type="text" class="form-control search__box-area input-style" name="search" placeholder="Tìm kiếm...">
                                <a href="javascript:;" class="search__box-icon" id="btn-search"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="select-sort">
                                <span>Sắp xếp: </span>
                                <select name="" class="form-control" onchange="sort_data(this.value)">
                                    <option value="0">Tên người dùng A-Z↓</option>
                                    <option value="1">Tên người dùng Z-A↑</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table__filter-wrap">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped  border">
                            <thead class="">
                                <tr class="tr-header-table">
                                    <th class="checkbox-col"</th>
                                    <th class="sort-label" data-column="col-name">Tên truy cập</th>
                                    <th class="sort-label" data-column="col-name">Tên đầy đủ</th>
                                    <th class="sort-label" data-column="col-electronic">Số điện thoại</th>
                                    <th class="sort-label" data-column="col-electronic">Email</th>
                                    <th class="sort-label" data-column="col-electronic">Ngày tạo</th>
                                    <th class="sort-label" data-column="col-electronic">Trạng thái</th>
                                    <th class="sort-label " data-column="col-service">Thuộc nhóm</th>
                                    <th class="sort-label " data-column="col-service">Tiền nợ</th>
                                    <th class="sort-label text-table-center" data-column="col-service">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody class="tbody-hideitem" id="tbody-user-in-group" style="background-color: #f3f4f7">
                            </tbody>
                        </table>
                    </div>
                    @await Html.PartialAsync("_PaginationPartial")
                </div>
            </div>
        </div>
    </div><!-- row -->
</div>
<div class="modal fade modal-nopadding-right" id="modal-user-in-group" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered wd-sm-650" role="document">
        <div class="modal-content">
            <div class="modal-header pd-y-20 pd-x-20 pd-sm-x-30">
                <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <div class="media align-items-center">
                    <span class="tx-color-03 d-none d-sm-block"><i class="fas fa-car-side mr-3"></i></span>
                    <div class="media-body mg-sm-l-20">
                        <input type="hidden" name="hdfId" value="0" />
                        <h4 class="tx-18 tx-sm-20 mg-b-2 tx-uppercase"></h4>
                        <p class="tx-13 tx-color-03 mg-b-0">Thêm </p>
                    </div>
                </div><!-- media -->
            </div><!-- modal-header -->
            <div class="modal-body pd-sm-t-30 pd-sm-x-30">
                <input type="hidden" name="hdfId" value="0" />
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Tên Tài khoản<span class="text-danger">(*)</span></label>
                            <input type="text" name="txt-username" id="txt-username" required class="form-control" placeholder="Ví dụ: NguyenVanA">
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Tên Đầy Đủ<span class="text-danger">(*)</span></label>
                            <input type="text" name="txt-fullname" id="txt-fullname" required class="form-control" placeholder="Ví dụ: Nguyễn Văn A">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Số điện thoại <span class="text-danger">(*)</span></label>
                            <input type="text" name="txt-phone" id="txt-phone" data-type="number" required class="form-control" placeholder="Ví dụ: 0933110546">
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Ngày sinh<span class="text-danger">(*)</span></label>
                            <div class="input-icon">
                                <input id="txt-dob" name="txt-dob" type="tel" class="form-control datetimepicker date-only" placeholder="dd/mm/yyyy" value="20/10/1999" readonly="true" autocomplete="off">
                                <a href="javascript:;" class="datepicker-trigger icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg></a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Email<span class="text-danger">(*)</span></label>
                            <input type="text" name="txt-email" id="txt-email" required class="form-control" placeholder="Ví dụ: nguyenvana99@gmail.com">
                        </div>

                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Giới tính<span class="text-danger">(*)</span></label>
                            <select class="js-example-basic-single form-control select2" name="ddl-gender" id="ddl-gender">
                                <option disabled="true" selected>Giới tính</option>
                                <option value="0">Giới tính Nữ</option>
                                <option value="1">Giới tính Nam</option>
                                <option value="3">Không xác định</option>
                            </select>
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-sm-12">
                                <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Ngày Phòng trống khách<span class="text-danger">(*)</span></label>
                                <input type="text" name="txt-EmptyRoomDate" required class="form-control" placeholder="Ví dụ: 20/2/2023">
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Địa chỉ thường trú<span class="text-danger">(*)</span></label>
                            <input type="text" name="txt-address" id="txt-address" required class="form-control" placeholder="Ví dụ: Khu A 123, Nguyen van A,Go vap, TP.HCM">
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Số CMND<span class="text-danger">(*)</span></label>
                            <input type="text" name="txt-cmnd" id="txt-cmnd" data-type="number" required class="form-control" placeholder="Ví dụ: 2417742266">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Quyền người dùng<span class="text-danger">(*)</span></label>
                            <select class="js-example-basic-single form-control select2" name="ddl-role" id="ddl-role">
                                <option disabled="true" selected>Quyền người dùng</option>
                                <option value="5">Khách hàng</option>
                                <option value="4">Nhân viên</option>
                            </select>
                        </div>

                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Mật khẩu<span class="text-danger">(*)</span></label>
                            <input type="password" name="txt-pwd" id="txt-pwd" required class="form-control" placeholder="Nhập ít nhất 8 kí tự">
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Xác nhận Mật khẩu<span class="text-danger">(*)</span></label>
                            <input type="password" name="txt-pwdconfirm" id="txt-pwdconfirm" required class="form-control" placeholder="Nhập ít nhất 8 kí tự">
                            <span id='message2'></span>
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-sm-12">
                                <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Chọn hình ảnh<span class="text-danger">(*)</span></label>
                                <div style="clear:left;"></div>
                                <a href="javascript:;" class="btn btn-outline-primary btn-uploads btn-block">
                                    <i data-feather="camera" class="mg-r-5"></i> Ảnh nhà - dãy trọ
                                </a>
                                <input id="input-img" type='file' name="electricimg" class="hidden upload-image-temps remove-items" onchange="readURL(this);" multiple />
                                <div style="clear:left;"></div>
                                <div class="preview-image" id="room-img"></div>

                            </div>
                        </div>*@
                </div>
            </div><!-- modal-body -->
            <div class="modal-footer pd-x-20 pd-y-15">
                <button type="button" class="btn btn-white" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary btn-save-user-in-group">Lưu lại</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->
<!-- MODAL UPDATE USER-->
<div class="modal fade modal-nopadding-right" id="modal-update-user" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered wd-sm-650" role="document">
        <div class="modal-content">
            <div class="modal-header pd-y-20 pd-x-20 pd-sm-x-30">
                <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <div class="media align-items-center">
                    <span class="tx-color-03 d-none d-sm-block"><i class="fas fa-car-side mr-3"></i></span>
                    <div class="media-body mg-sm-l-20">
                        <input type="hidden" name="update-hdfId" value="0" />
                        <h4 class="tx-18 tx-sm-20 mg-b-2 tx-uppercase"></h4>
                        <p class="tx-13 tx-color-03 mg-b-0">Cập nhật thông tin người dùng </p>
                    </div>
                </div><!-- media -->
            </div><!-- modal-header -->
            <div class="modal-body pd-sm-t-30 pd-sm-x-30">
                <input type="hidden" name="update-hdfId" value="0" />
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Tên Tài khoản<span class="text-danger">(*)</span></label>
                            <input type="text" name="update-username" id="update-username" required class="form-control" readonly>
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Tên Đầy Đủ<span class="text-danger">(*)</span></label>
                            <input type="text" name="update-fullname" id="update-fullname" required class="form-control" placeholder="Ví dụ: Nguyễn Văn A">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Số điện thoại <span class="text-danger">(*)</span></label>
                            <input type="text" name="update-phone" id="update-phone" data-type="number" required class="form-control" placeholder="Ví dụ: 0933110546">
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Ngày sinh<span class="text-danger">(*)</span></label>
                            <div class="input-icon">
                                <input id="update-dob" name="update-dob" type="tel" class="form-control datetimepicker date-only" placeholder="dd/mm/yyyy" value="20/10/1999" autocomplete="off">
                                <a href="javascript:;" class="datepicker-trigger icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg></a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Email<span class="text-danger">(*)</span></label>
                            <input type="text" name="update-email" id="update-email" required class="form-control" placeholder="Ví dụ: nguyenvana99@gmail.com">
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Giới tính<span class="text-danger">(*)</span></label>
                            <select class="js-example-basic-single form-control select2" name="update-gender" id="update-gender">
                                <option disabled="true" selected>Giới tính</option>
                                <option value="0">Giới tính Nữ</option>
                                <option value="1">Giới tính Nam</option>
                                <option value="3">Không xác định</option>
                            </select>
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-sm-12">
                                <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Ngày Phòng trống khách<span class="text-danger">(*)</span></label>
                                <input type="text" name="txt-EmptyRoomDate" required class="form-control" placeholder="Ví dụ: 20/2/2023">
                            </div>
                        </div>*@

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Địa chỉ thường trú<span class="text-danger">(*)</span></label>
                            <input type="text" name="update-address" id="update-address" required class="form-control" placeholder="Ví dụ: Khu A 123, Nguyen van A,Go vap, TP.HCM">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Số CMND<span class="text-danger">(*)</span></label>
                            <input type="text" name="update-cmnd" id="update-cmnd" data-type="number" required class="form-control" placeholder="Ví dụ: 2417742266">
                        </div>
                    </div>
                    <hr />
                    @*<div class="row">
                            <div class="col-sm-6">
                                <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Nhập mật khẩu cũ<span class="text-danger">(*)</span></label>
                                <input type="password" name="update-pwdold" id="update-pwdold" required class="form-control" placeholder="Nhập ít nhất 8 kí tự">
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Mật khẩu mới<span class="text-danger">(*)</span></label>
                            <input type="password" name="update-pwd" id="update-pwd" required class="form-control" placeholder="Nhập ít nhất 8 kí tự">
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Xác nhận Mật khẩu mới<span class="text-danger">(*)</span></label>
                            <input type="password" name="update-pwdconfirm" id="update-pwdconfirm" required class="form-control" placeholder="Nhập ít nhất 8 kí tự">
                            <span id='message'></span>
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-sm-12">
                                <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Chọn hình ảnh<span class="text-danger">(*)</span></label>
                                <div style="clear:left;"></div>
                                <a href="javascript:;" class="btn btn-outline-primary btn-uploads btn-block">
                                    <i data-feather="camera" class="mg-r-5"></i> Ảnh nhà - dãy trọ
                                </a>
                                <input id="input-img" type='file' name="electricimg" class="hidden upload-image-temps remove-items" onchange="readURL(this);" multiple />
                                <div style="clear:left;"></div>
                                <div class="preview-image" id="room-img"></div>

                            </div>
                        </div>*@
                </div>
            </div><!-- modal-body -->
            <div class="modal-footer pd-x-20 pd-y-15">
                <button type="button" class="btn btn-white" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary btn-update-user">Lưu lại</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>
<!-- modal -->
<!-- modal Thu Tiền nợ-->
<div class="modal fade show" id="js-take-debt" style="padding-right: 17px;" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header ">
                <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
                <div class="media align-items-center">
                    <span class="tx-color-03 d-none d-sm-block"><i class="fas fa-calendar-alt tx-24 tx-color-03" aria-hidden="true"></i></span>
                    <div class="media-body mg-sm-l-20">
                        <h4 class="tx-18 tx-sm-20 mb-0">Thu tiền nợ</h4>
                    </div>
                </div><!-- media -->
            </div><!-- modal-header -->
            <div class="modal-body ">
                <div class=" room-info">
                    <div class="row">
                        <input type="hidden" id="debt-user-id" value="0" />
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="col-sm form-group">
                                <div class="col">
                                    <span class="lb text-danger">Tiển nợ:</span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm form-group">
                                <div class="col tx-right">
                                    <span class="value tx-color-01 tx-medium text-danger" id="debt-money"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm form-group">
                                <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">Nhập số tiền</label>
                                <input type="text" data-type="currency" class="form-control" id="debt-take">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm form-group">
                                <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">Ghi chú</label>
                                <textarea rows="2" id="debt-coll-note" class="form-control" placeholder="..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- modal-body -->
            <div class="modal-footer pd-x-20 pd-y-15">
                <button type="button" class="btn btn-white" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary btn-debt-take">Thu nợ</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>

<!-- bat loi form-->
@await Html.PartialAsync("PartialView/_BaseScriptPartial")
<script>
    $('#update-pwd, #update-pwdconfirm').on('keyup', function () {
        if ($('#update-pwd').val() == $('#update-pwdconfirm').val()) {
            $('#message').html('Matching').css('color', 'green');
        } else
            $('#message').html('Not Matching').css('color', 'red');
    });
    $('#txt-pwd, #txt-pwdconfirm').on('keyup', function () {
        if ($('#txt-pwd').val() == $('#txt-pwdconfirm').val()) {
            $('#message2').html('Matching').css('color', 'green');
        } else
            $('#message2').html('Not Matching').css('color', 'red');
    });
</script>
<!---->
<!---->
<script>
    let page_index = 1;
    let page_size = 10;
    let SearchContent = '';
    let OrderBy = 0;
    let token = '@Model.Token';
    let domain = '@Model.Domain';
    domain += 'api/user-in-group';
    let total_item = 0;
    let total_page = 0;
    let UserInGroupId = 5; // role khach hang
    //Tạo hoặc làm mới api
    function get_api(PageIndex, PageSize, SearchContent, OrderBy) {
        return domain + '?UserGroupId=' + UserInGroupId+'&PageIndex=' + PageIndex + '&PageSize=' + PageSize + '&SearchContent=' + SearchContent + '&OrderBy=' + OrderBy;
    }
    $(document).ready(function () {
        load_data(get_api(page_index, page_size, SearchContent, OrderBy));
    });
    //Load dữ liệu theo api
    function load_data(api) {
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: api,
            headers: {
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'application/json'
            },
            success: function (data, status, xhr) {
                //console.log('data: ', data);
                let list = data.Data.Items;
                console.log('list: ', list);
                let html = '';
                for (let i = 0; i < list.length; i++) {
                    let item = list[i];
                    var date = new Date(item.DateOfBirth);
                    var datecr = new Date(item.DateOfBirth);
                    let dob = ((date.getDate() > 9) ? date.getDate() : ('0' + date.getDate())) + '/' + ((date.getMonth() > 8) ? (date.getMonth() + 1) : ('0' + (date.getMonth() + 1))) + '/' +  date.getFullYear();
                    let DateCreated = ((datecr.getDate() > 9) ? datecr.getDate() : ('0' + datecr.getDate())) + '/' + ((datecr.getMonth() > 8) ? (datecr.getMonth() + 1) : ('0' + (datecr.getMonth() + 1))) + '/' + datecr.getFullYear();

                    if (item.Status == 0) {
                        CssClass = "badge badge-success wd-100 pd-5 tx-12";
                        status = "Đã kích hoạt ";
                    } if (item.Status == 1) {
                        CssClass = "badge badge-danger wd-100 pd-5 tx-12";
                        status = "đã khóa";
                    }

                    // check role 
                    let role = '';
                    if (item.roleNumber = 2) { role = ' CSKH'; }
                    if (item.roleNumber = 3) { role = ' Chủ Trọ'; }
                    if (item.roleNumber = 4) { role = ' Nhân viên'; }
                    if (item.roleNumber = 5) { role = ' Người thuê'; }
                    html += '<tr>';
                    html +=`<td class="checkbox-col">
                                            <a href="javascript:;" class="toggle-collapse"  onClick="loadImageDetail(`+ item.UserId+`)" ><i class="fa fa-angle-down"></i></a>
                                        </td>`
                    html += '<td  data-column="col-name">' + item.UserName + '</td>';
                    html += '<td>' + item.FullName + ' </td>';
                    html += '<td>' + item.Phone + ' </td>';
                    html += '<td>' + item.Email + ' </td>';

                    html += '<td>' + DateCreated + ' </td>';
                    html += ` <td data - column="col-status" >
                        <span class="`+ CssClass +`" name="status">
                            `+ status +`
                        </span>
                        @*<p class="mg-b-0 mg-t-5 tx-12">Dọn vào: 20/04/2020</p>*@
                    </td>`
                    html += '<td>' + item.UserGroupName + '</td>';
                    html += '<td><span class="tx-danger tx-medium">' + item.DebtMoney + '</span></td>';
                    html += '<td class="text-table-center">';
                    html += '<a href="javascript:;" data-id="' + item.UserId + '" class="btn-edit-user-in-group"  data-toggle="modal"><i class="fas fa-edit"></i></a>    ';
                    html += '<a href="javascript:;" data-id="' + item.UserId + '" data-debt="' + item.DebtMoney + '" class="btn-debt-collection"  data-toggle="modal"><i class="fas fa-calculator"></i></a>';
                    html += '</td>';

                    html += '</tr>';
                    html += `<tr class="collapse-row">
                                <td colspan="12">
                                    <div class="table-content">
                                        <div class="row flex-wrap-1 mg-t-15">
                                            <div class="col-sm-12 col-md-4 mg-b-30 mg-md-b-0">
                                                <div class="room-infor legend-box pd-25  rounded " data-label="Thông tin Khách Hàng">
                                                    <div class="info-list" style="  text-align: center line-height: 300px;">
                                                        <dl class="row-info hide-on-print" class="center">
                                                                <center><img  width="50px" height="50px" src="`+ item.Avatar + `" alt="avatar" class="center"></center>
                                                        </dl>
                                                        <dl class="row-info">
                                                            <dd class="">Tên Khách Hàng:</dd>
                                                            <dt class="">`+ item.FullName + `</dt>
                                                        </dl>
                                                        <dl class="row-info hide-on-print">
                                                            <dd class="">Loại Tài khoản :</dd>
                                                            <dt class="">
                                                                <span tabindex="0" class="`+ CssClass + `" role="button" data-toggle="popover" data-trigger="hover" title="" data-content="Đặt cọc: 30.000.000 - Ngày chuyển vào: 30/03/2020" data-original-title="Trương Văn Lam ">
                                                                    `+ status + `
                                                                </span>
                                                            </dt>
                                                        </dl>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-8 ">
                                                <div class="legend-box pd-25  " data-label="Thông Tin Chung">

                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="info-list">
                                                                <dl class="row-info">
                                                                    <dd class="">Tên Đầy Đủ:</dd>
                                                                    <dt class="">`+ item.FullName + `</dt>
                                                                </dl>
                                                                <dl class="row-info">
                                                                    <dd class="">Số Điện Thoại:</dd>
                                                                    <dt class="">`+ item.Phone + `</dt>
                                                                </dl>
                                                                <dl class="row-info">
                                                                    <dd class="">Email:</dd>
                                                                    <dt class="">`+ item.Email + `</dt>
                                                                </dl>
                                                                <dl class="row-info">
                                                                    <dd class="">Địa Chỉ:</dd>
                                                                    <dt class="">`+ item.Address + `</dt>
                                                                </dl>


                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="info-list">
                                                                <dl class="row-info">
                                                                    <dd class="">Ngày Sinh:</dd>
                                                                    <dt class="">`+ format_date(item.DateOfBirth) + `</dt>
                                                                </dl>
                                                                <dl class="row-info">
                                                                    <dd class="">Số CMND/CCCD:</dd>
                                                                    <dt class="">`+ item.CitizenIdentification + `</dt>
                                                                </dl>
                                                                <dl class="row-info">
                                                                    <dd class="">Ngày Tạo:</dd>
                                                                    <dt class="">`+ format_date(item.UserCreated) + `</dt>
                                                                </dl>

                                                                <dl class="row-info">
                                                                    <dd class="">Thuộc Nhóm:</dd>
                                                                    <dt class="">
                                                                        <span class="tx-second">`+role+`</span>
                                                                    </dt>
                                                                </dl>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                        <div class="row flex-wrap-1 mg-t-15">
                                            <div class="col-sm-12 col-md-12 mg-b-30 mg-md-b-0">
                                                <div class="room-infor legend-box pd-25  rounded " data-label="Hình ảnh cá nhân">
                                                    <div id="user-images" class="info-list" style="  text-align: center line-height: 100px;">

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row flex-wrap-1 mg-t-15">

                                            <div class="col-sm-12 col-md-12 mg-b-30 mg-md-b-0">
                                                <div class="legend-box pd-25  " data-label="Lịch sử thu nợ">
                                                        <table class=" col-md-12 table-hover table-striped  border">
                                                            <thead class="">
                                                                <tr class="tr-header-table">
                                                                    <th>Ngày/Tháng</th>
                                                                    <th>Tiền Thu</th>
                                                                    <th><span class="">Còn lại<span></span></span></th>
                                                                    <th><span class="">Người thu</span></th>
                                                                    <th><span class="">Trạng thái</span></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbody-history-take-debt">
                                                                <tr>
                                                                    <td>Tháng 4/2022</td>
                                                                    <td>2,000,000</td>
                                                                    <td>36,000</td>
                                                                    <td>baodeptrai</td>
                                                                    <td><span class="room-status badge badge-success wd-100 pd-5 tx-12">Đã thu</span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>



                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </td>
                            </tr>`;

                }
                $('#tbody-user-in-group').hide().html(html).show('slow');
                total_item = data.Data.TotalItem;
                total_page = data.Data.TotalPage;
                load_pagination(pagination(page_index, total_page), page_index, total_page, total_item);
            },
            error: function (xhr, status, error) {
                alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            }
        });

        $('[data-toggle="tooltip"]').tooltip()
    }
    //
    function loadImageDetail(userid) {
        console.log(userid);
        let api_Get_UserImage = 'api/UserImage/GetUserImagesByUserID?userId=' + userid;
        load_data_with_jquery(api_Get_UserImage).then(function (e) {
            console.log(e);
            let UserImages = e.Data;
            html = '';
            for (let i = 0; i < UserImages.length; i++) {
                let UserImage = UserImages[i];
                html += '<img src="' + UserImage.Link +'" style=" margin-left: 20px; margin-right: 20px;" width="100px" height="100px" src="#" alt="image" class="img ">';
            }
            $('#user-images').html(html);
        })
        let api_Get_htr_debt = 'api/DebtCollection?UserId=178581&PageIndex=1&PageSize=20&OrderBy=0&TenantId=0';
        load_data_with_jquery(api_Get_htr_debt).then(function (e) {
            let Debts = e.Data.Items;
            let html = '';
            for (let i = 0; i < Debts.length; i++) {
                let debt = Debts[i];
                html += `<tr>
                                                                    <td>Ngày `+ format_date(debt.ConllecttionDate) + `</td>
                                                                    <td>`+ format_money(debt.DebtConllection) +`</td>
                                                                    <td>`+ format_money(debt.DebtRemaining) + `</td>
                                                                    <td>`+ debt.CreatedBy +`</td>
                                                                    <td><span class="room-status badge badge-success wd-100 pd-5 tx-12">Đã thu</span></td>
                                                                </tr>`;
            }
            $('#tbody-history-take-debt').html(html);
        })
    }
    //nút tìm kiếm
    $('#btn-search').on('click', function () {
        SearchContent = $('input[name=search]').val();
        load_data(get_api(page_index, page_size, SearchContent, OrderBy));
    });

    //Enter tìm kiếm
    $('input[name=search]').keyup(function (event) {
        if (event.keyCode === 13) {
            SearchContent = $('input[name=search]').val();
            load_data(get_api(page_index, page_size, SearchContent, OrderBy));
        }
    });
    //Sắp xếp
    function sort_data(val) {
        OrderBy = val;
        load_data(get_api(page_index, page_size, SearchContent, OrderBy));
    }
    //load phân trang
    $(function () {
        load_pagination(pagination(page_index, page_size), page_index, total_page, total_item);
    });
    //load khi bấm chuyển trang
    function load_to_page(index_click) {
        page_index = index_click;
        //load lại data
        load_data(get_api(page_index, page_size, SearchContent, OrderBy));
    }
    // them khach hang
    $('.btn-add-user-in-group').on('click', function () {
        $('input[name=hdfId]').val(0);
        $('#txt-username').val("");
        $('#txt-fullname').val("");
        $('#txt-phone').val("");
        $('#ddl-old').val("");
        $('#txt-email').val("");
        $('#txt-dob').val("");
        $('#txt-address').val("");
        $('#ddl-gender').val("").change();
        $('#ddl-role').val("").change();
        $('#txt-cmnd').val("");
        $('#txt-pwd').val("");
        $('#txt-pwdconfirm').val('');
        $('#modal-user-in-group').modal('show');
    });
    // chinh sua khach hang
    $(document).on('click', '.btn-edit-user-in-group', function () {
        let userId = $(this).attr('data-id');
        // call api user
        $.ajax({
            url: '@Model.Domain' +'api/user/'+ userId,
            type: 'GET',
            dataType: 'JSON',
            headers: {
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'application/json'
            },
            contentType: "application/json",
            success: function (data) {
                console.log(data);
                UpdateUser(data);
            },
            error: function (xhr, status, error) {
                Swal.fire(
                    'Thông báo!',
                    'Rất tiếc đã xảy ra lỗi!',
                    'error'
                );
                console.log("Result Insert: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            }
        });
    });
    function UpdateUser(data) {
        let user = data.Data;
        console.log(user);
        $('input[name=update-hdfId]').val(user.Id);
        $('#update-username').val(user.UserName);
        $('#update-fullname').val(user.FullName);
        $('#update-phone').val(user.Phone);
        $('#update-email').val(user.Email);
        //xu ly ngay thang nam
        var date = new Date(user.DateOfBirth);
        let dob = ((date.getDate() > 9) ? date.getDate() : ('0' + date.getDate())) + '/' + ((date.getMonth() > 8) ? (date.getMonth() + 1) : ('0' + (date.getMonth() + 1))) + '/' + date.getFullYear();
        $('#update-dob').val(dob.toString());
        $('#update-address').val(user.Address);
        $('#update-gender').val(user.GenderNumber).change();
        $('#update-cmnd').val(user.CitizenIdentification);
        // xu li doi mat khau rieng
        $('#update-pwdold').val("");
        $('#update-pwd').val("");
        $('#update-pwdconfirm').val('');
        $('#modal-update-user').modal('show');
    }
    $('.btn-update-user').click(function () {
        const id = $('input[name=update-hdfId]').val();
        const username = $('#update-username').val();
        const fullname = $('#update-fullname').val();
        const phone = $('#update-phone').val();
        const email = $('#update-email').val();
        const dob = $('#update-dob').val();
        const address = $('#update-address').val();
        const gender = $('#update-gender').val();
        const cmnd = $('#update-cmnd').val();
        // change password
        //const pwdold = $('#update-pwdold').val();
        const pwd = $('#update-pwd').val();
        const pwdconfirm = $('#update-pwdconfirm').val();
        console.log(id);
        console.log(fullname);
        console.log(username);
        console.log(phone);
        console.log(email);
        console.log(dob);
        console.log(address);
        console.log(gender);
        console.log(cmnd);
        if (ckstring(fullname) || ckstring(username) || ckstring(phone) || ckstring(username) || ckstring(email) || ckstring(dob) || ckstring(address) || ckstring(gender) || ckstring(cmnd) ) {
            Swal.fire(
                'Cảnh báo',
                'Vui lòng nhập đầy đủ thông tin!',
                'warning'
            )
        }
        else if ( @*(ckstring(pwdold) == false) ||*@ (ckstring(pwd) == false) || (ckstring(pwdconfirm) == false)) {
            if (@*(ckstring(pwdold) == false) &&*@ (ckstring(pwd) == false) && (ckstring(pwdconfirm) == false)) {
                console.log('update user + update password');
                let data = {};
                data["id"] = id;
                data["userName"] = username;
                data["fullName"] = fullname;
                data["phone"] = phone;
                data["email"] = email;
                data["birthDate"] = dob.split("/").reverse().join("-");
                data["address"] = address;
                data["genderNumber"] = gender;
                data["citizenIdentification"] = cmnd;
                data["status"] = 0;
                data["isAdmin"] = false;
                data["deleted"] = false;
                data["active"] = true;
                data["isResetPassword"] = true;
                data["newPassWord"] = pwd;
                data["ConfirmNewPassWord"] = pwdconfirm;
                console.log('update user + pwd: ' + data);
                // update pwd
                //let data_change_pwd = {}
                //data_change_pwd["id"] = id;
                //data_change_pwd["oldPassword"] = pwdold;
                //data_change_pwd["newPassword"] = pwd;
                //data_change_pwd["confirmNewPassword"] = pwdconfirm;
                //Change_pwd(data_change_pwd)
                insert_or_update(data);
            }
            else {
                Swal.fire(
                    'Cảnh báo',
                    'Vui lòng nhập đầy đủ thông tin để cập nhật mật khẩu!',
                    'warning'
                )
            }
        }
        else if (@*(ckstring(pwdold) == true) && *@(ckstring(pwd) == true) && (ckstring(pwdconfirm) == true)) {
            let data = {};
            data["id"] = id;
            data["userName"] = username;
            data["fullName"] = fullname;
            data["phone"] = phone;
            data["email"] = email;
            data["birthDate"] = dob.split("/").reverse().join("-");
            data["address"] = address;
            data["genderNumber"] = gender;
            data["citizenIdentification"] = cmnd;
            data["status"] = 0;
            data["isAdmin"] = false;
            data["deleted"] = false;
            data["active"] = true;
            console.log('update user: ' + data);
            insert_or_update(data);
        }

        //console.log(pwdold);
        console.log(pwd);
        console.log(pwdconfirm);
    });
    $('.btn-save-user-in-group').click(function () {
        const id = $('input[name=hdfId]').val();
        const username = $('#txt-username').val();
        const fullname = $('#txt-fullname').val();
        const phone = $('#txt-phone').val();
        const email = $('#txt-email').val();
        const dob = $('#txt-dob').val();
        const address = $('#txt-address').val();
        const gender = $('#ddl-gender').val();
        const role = $('#ddl-role').val();
        const pwd = $('#txt-pwd').val();
        const pwdconfirm = $('#txt-pwdconfirm').val();
        const cmnd = $('#txt-cmnd').val();
        console.log(id);
        console.log(fullname);
        console.log(username);
        console.log(phone);
        console.log(email);
        console.log(dob);
        console.log(address);
        console.log(gender);
        console.log(role);
        console.log(cmnd);
        console.log(pwd);
        console.log(pwdconfirm);
        if (ckstring(fullname) || ckstring(username) || ckstring(phone) || ckstring(username) || ckstring(email) || ckstring(dob) || ckstring(address) || ckstring(gender) || ckstring(role) || ckstring(cmnd) || ckstring(pwd) || ckstring(pwdconfirm)) {
            Swal.fire(
                'Cảnh báo',
                'Vui lòng nhập đầy đủ thông tin!',
                'warning'
            )
        }
        else {
            $(this).prop('disabled', true);
            let data = {};
            data["id"] = id;
            data["userName"] = username;
            data["fullName"] = fullname;
            data["phone"] = phone;
            data["email"] = email;
            data["birthDate"] = dob.split("/").reverse().join("-");
            data["address"] = address;
            data["genderNumber"] = gender;
            let userGroupIds = [];
            userGroupIds.push(role);
            data["userGroupIds"] = userGroupIds;
            data["citizenIdentification"] = cmnd;
            data["password"] = pwd;
            data["confirmPassWord"] = pwdconfirm;
            data["status"] = 0;
            data["isAdmin"] = false;
            data["deleted"] = false;
            data["active"] = true;
            console.log('add: '+data);
            insert_or_update(data);
        }
    });

    function insert_or_update(data) {

        let url ='@Model.Domain'+'api/user';
        let type_request = '';
        if (ckstring(data.id) || data.id == 0) {
            type_request = 'POST';
        }
        else {
            type_request = 'PUT';
            url = '@Model.Domain' + 'api/user/' + data.id;
        }
        $('#modal-user-in-group').modal('hide');
        $.ajax({
            url: url,
            data: JSON.stringify(data),
            type: type_request,
            dataType: 'JSON',
            headers: {
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'application/json'
            },
            contentType: "application/json",
            success: function (data) {
                console.log(data);
                if (type_request == 'POST') {
                    Swal.fire(
                        'Thông báo!',
                        'Thêm dữ liệu thành công!',
                        'success'
                    );
                }
                else if (type_request == 'PUT') {
                    Swal.fire(
                        'Thông báo!',
                        'Cập nhật dữ liệu thành công!',
                        'success'
                    );
                }
                $('.btn-save-user-in-group').prop('disabled', false);
            },
            error: function (xhr, status, error) {
                Swal.fire(
                    'Thông báo!',
                    'Rất tiếc đã xảy ra lỗi!',
                    'error'
                );
                $('.btn-save-user-in-group').prop('disabled', false);
                console.log("Result Insert: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            }
        });
    }
</script>
<script>
    //#region Thu nợ
    $(document).on('click', '.btn-debt-collection', function () {
        // lấy UserId, số tiền thu,
        $('#debt-money').html($(this).attr("data-debt"));
        $('#debt-user-id').val($(this).attr("data-id"));
        $('#debt-take').val(0);
        $('#js-take-debt').modal('show');
    })
    $('.btn-debt-take').on('click', function () {
        // lấy UserId, số tiền thu,
        let debt = $('#debt-money').html();
        let user_id = $('#debt-user-id').val();
        let take_debt = $('#debt-take').val();
        let note = $('#debt-coll-note').val();
        console.log(debt);
        console.log(user_id);
        console.log(take_debt);
        console.log(note);
        if (debt == 0) {
            Swal.fire(
                'Cảnh báo',
                'Khách hàng không có nợ!',
                'warning'
            )
        }
        if (debt < take_debt || ckstring(take_debt)) {
            Swal.fire(
                'Cảnh báo',
                'Tiền trả bé hơn tiền nợ hoặc tiền trả trống!',
                'warning'
            )
        }
        if (debt > 0 && debt > take_debt && take_debt > 0) {
            let data = {};
            let api_TakeDebt = "api/user/take-debt?UserId=" + user_id + "&debt=" + take_debt + "&note=" + note;
            update_data(data, api_TakeDebt).then(function (e) {
                $('#js-take-debt').modal('hide');
            })
        }
    })
    //#endregion
</script>
