@using Sample.Models;
@model CoreModel;
@{
    Layout = "";
}
<table class="table border">
    <thead class="thead-primary">
        <tr class="tr-header-table">
            <th class="checkbox-col">
            </th>
            @{
                if (Model.Users.RoleNumber == 1 || Model.Users.RoleNumber == 2)
                {
                    <th class="sort-label" data-column="col-house">Họ và tên</th>
                    <th class="sort-label" data-column="col-room">Số điện thoại</th>
                    <th class="sort-label" data-column="col-people">Email</th>
                }
            }
            <th class="sort-label" data-column="col-people">Gói Đăng kí</th>
            <th class="sort-label" data-column="col-status">Trạng thái</th>
            <th class="sort-label" data-column="col-electric">Ngày Duyệt</th>
            <th class="sort-label" data-column="col-deposit">Ngày hết hạn</th>
            @{
                if (Model.Users.RoleNumber == 1 || Model.Users.RoleNumber == 2)
                {
                    <th class="sort-label" data-column="col-deposit" style="text-align:center">Thao tác</th>
                }
            }


        </tr>
    </thead>
    <tbody>
        @{
            List<PackageOfUserModel> packageOfUserModels =(List<PackageOfUserModel>) Model.MyProperty;
            foreach (PackageOfUserModel item in packageOfUserModels)
            {
                string acceptDate = "";
                string expireDate = "";
                Console.WriteLine(item.AcceptDate);
                if (item.AcceptDate == null) {
                    acceptDate = "Chưa duyệt";
                }
                else
                {
                    acceptDate = item.AcceptDate.Value.Date.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture);
                }
                if (item.ExpireDate == null)
                {
                    expireDate = "Chưa duyệt";
                }
                else
                {
                    expireDate = item.ExpireDate.Value.Date.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture);
                }
                <tr>
                    <td class="checkbox-col">
                        <a href="javascript:;" class="toggle-collapse" data-id="@item.Id" data-type="close" data-iscontent="false"><i class="fas fa-caret-down"></i></a>
                    </td>
                    @{
                        if (Model.Users.RoleNumber == 1 || Model.Users.RoleNumber == 2)
                        {
                            <td data-column="col-name">
                                <a href="javascript:;">
                                    @item.FullName
                                </a>
                            </td>
                            <td data-column="col-phone">
                                <a href="room-detail.php">@item.Phone</a>
                            </td>
                            <td data-column="col-email">@item.Email</td>
                        }
                    }

                    <td data-column="col-deposit">
                        <span class="tx-danger tx-medium">@item.PackageName</span>
                    </td>

                    <td data-column="col-package">

                        @{
                            if (item.Status == 0)
                            {
                                <span class="badge badge-warning wd-100 pd-5 tx-12">Đợi duyệt</span>

                            }
                            if (item.Status == 1)
                            {
                                <span class="badge badge-success wd-100 pd-5 tx-12">Đã duyệt</span>
                            }
                            if (item.Status == 2)
                            {
                                <span class="badge badge-danger wd-100 pd-5 tx-12">Đã Hủy</span>
                            }
                            if (item.Status == 3)
                            {
                                <span class="badge badge-warning wd-100 pd-5 tx-12">Đợi gia hạn</span>

                            }
                            if (item.Status == 4)
                            {
                                <span class="badge badge-success wd-100 pd-5 tx-12">Đã gia hạn</span>

                            }
                        }
                        <p class="mg-b-0 mg-t-5 tx-12">Đăng kí vào: @item.Created.Value.Date.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)</p>
                    </td>
                    <td data-column="col-electric">
                        @acceptDate
                    </td>
                    <td class="action-col">
                        @expireDate
                    </td>
                    @{
                        if (Model.Users.RoleNumber == 1 || Model.Users.RoleNumber == 2)
                        {
                            <td class="action-col text-table-center">
                                @{
                                    if (item.Status == 0)
                                    {
                                        <a href="javascript:;" class="btn-accept " data-toogle="tooltip" title="Duyệt gói" data-id="@item.Id" data-user-id="@item.UserId" data-package-id="@item.PackageId" data-status="1"><i class="fas fa-check-circle"></i></a>

                                        <a href="javascript:;" class=" btn-accept" data-toogle="tooltip" title="Hủy gói" data-id="@item.Id" data-user-id="@item.UserId" data-package-id="@item.PackageId" data-status="2"><i class="fas fa-ban"></i></a>
                                    }
                                    if (item.Status == 1)
                                    {
                                        <a href="javascript:;" class=" btn-accept" data-toogle="tooltip" title="Hủy gói" data-id="@item.Id" data-user-id="@item.UserId" data-package-id="@item.PackageId" data-status="2"><i class="fas fa-ban"></i></a>
                                    }
                                    if (item.Status == 2)
                                    {
                                        <a href="javascript:;" class="btn-canceled" data-toogle="tooltip" title=" đã hủy" data-id="@item.Id" data-user-id="@item.UserId" data-package-id="@item.PackageId"><i class="fas fa-ban"></i></a>
                                    }
                                    if (item.Status == 3)
                                    {
                                        <a href="javascript:;" class=" btn-extend " data-toogle="tooltip" title="gia hạn gói" data-id="@item.Id" data-user-id="@item.UserId" data-package-id="@item.PackageId" data-status="1"><i class="fas fa-check-circle"></i></a>

                                        <a href="javascript:;" class=" btn-extend " data-toogle="tooltip" title="Hủy gia hạn gói" data-id="@item.Id" data-user-id="@item.UserId" data-package-id="@item.PackageId" data-status="2"><i class="fas fa-ban"></i></a>
                                    }
                                    if (item.Status == 4)
                                    {
                                        <a href="javascript:;" class="btn-canceled" data-toogle="tooltip" title=" đã gia hạn" data-id="@item.Id" data-user-id="@item.UserId" data-package-id="@item.PackageId"><i class="fas fa-ban"></i></a>
                                    }
                                }

                            </td>
                        }
                    }

                </tr>
                <tr class="collapse-row">
                    <td colspan="10" class="detailsDiv-@item.Id">
                    </td>
                </tr>
            }
        }
    </tbody>
</table>



<script>
    pageindex = @ViewData["pageindex"];
    pagesize = @ViewData["pagesize"];
    Totalpage = @ViewData["totalpage"];
    TotalItem = @ViewData["totalitem"];
    //load trang chi tiết, có gắn cờ để biết khỏi load lại
    $(document).on('click', '.toggle-collapse', function (event) {
        const id = $(this).attr('data-id');
        const toggle = $(this).attr('data-type');
        if (toggle == 'close') {
            $(this).attr('data-type', 'open');
            const iscontent = $(this).attr('data-iscontent');
            if (iscontent == 'false') {
                get_detail(id);
                $(this).attr('data-iscontent', 'true');
            }
        }
        else if (toggle == 'open') {
            $(this).attr('data-type', 'close');
        }
    });

    function get_detail(id) {
        $.get('/PackageOfUser/PackageOfUserDetailPartial?PackageOfUserId=' + id, function (data) {
            $('.detailsDiv-' + id).html(data);
        });
    }

    //load phân trang
    $(function () {
        load_pagination(pagination(pageindex, Totalpage), pageindex, Totalpage, TotalItem);
    });
    //load khi bấm chuyển trang
    function load_to_page(page_clicked) {
        pageindex = page_clicked;
        //load lại data
        load_data_package_user(pageindex, pagesize, orderBy, SearchContent, Status, Package);
        //load lại phân trang
        load_pagination(pagination(pageindex, Totalpage), pageindex, Totalpage, TotalItem);
    }
    //#region duyệt gia hạn hợp đồng
    $(document).on('click', '.btn-extend', function () {
        let id = $(this).attr('data-id');
        let userId = $(this).attr('data-user-id');
        let packageId = $(this).attr('data-package-id');
        let status = $(this).attr('data-status');
        console.log(id);
        console.log(userId);
        console.log(packageId);
        console.log(status);
        // update duyet dang ky
        //e.preventDefault();
        Swal.fire({
            title: 'Duyệt/hủy đăng ký ?',
            text: "Vui lòng đồng ý để tiếp tục!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Accept!'
        }).then(function (isConfirm) {
            if (isConfirm.value==true) {
                console.log(isConfirm);
                // call api
                let api_update_packageOfUser = 'api/PackageOfUser/ExtendPackage';
                let data = {};
                data["id"] = id;
                data["status"] = status;// 1: duoc duyet, 2: khong duyet
                data["active"] = 1;
                data["deleted"] = 0;
                data["packageId"] = packageId;
                data["userId"] = userId;
                //data["packageType"] = null;
                //data["typeOfRental"] = null;
                //data["userdTime"] = null;
                update_data(data, api_update_packageOfUser).then(function (e) {
                    load_data_package_user(pageindex, pagesize, orderBy, SearchContent, Status, Package);
                });
                
            } else {
                console.log('cancel');

            }
        })
    });
    //#endregion

    //#region duyệt đăng ký
    $(document).on('click', '.btn-accept', function () {
        let id = $(this).attr('data-id');
        let userId = $(this).attr('data-user-id');
        let packageId = $(this).attr('data-package-id');
        let status = $(this).attr('data-status');
        console.log(id);
        console.log(userId);
        console.log(packageId);
        console.log(status);
        // update duyet dang ky
        //e.preventDefault();
        Swal.fire({
            title: 'Duyệt/hủy đăng ký ?',
            text: "Vui lòng đồng ý để tiếp tục!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Accept!'
        }).then(function (isConfirm) {
            if (isConfirm.value == true) {
                console.log(isConfirm);
                // call api
                let api_update_packageOfUser = 'api/PackageOfUser/AcceptPackage';
                let data = {};
                data["id"] = id;
                data["status"] = status;// 1: duoc duyet, 2: khong duyet
                data["active"] = 1;
                data["deleted"] = 0;
                data["packageId"] = packageId;
                data["userId"] = userId;
                //data["packageType"] = null;
                //data["typeOfRental"] = null;
                //data["userdTime"] = null;
                update_data(data, api_update_packageOfUser).then(function (e) {
                    load_data_package_user(pageindex, pagesize, orderBy, SearchContent, Status, Package);
                });

            } else {
                console.log('cancel');

            }
        })
    });
    //#endregion
</script>





