<script src="~/house/lib/jqvmap/jquery.vmap.min.js"></script>
<link rel="~/house//stylesheet" href="assets/css/dashforge.dashboard.css">
<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-sm-flex align-items-center justify-content-between ">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Phòng số 01</li>
                </ol>
            </nav>
        </div>
    </div>
    <div id="js-step-goin">
        <h3>Thông tin phòng</h3>
        <section>
            <div class="row mg-t-15">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">Loại thuê phòng</label>
                        <select name="ListRoomType" id="ListRoomType" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">Gói điện nước</label>
                        <select name="" id="js-select-package" class="form-control">
                            <option value="1">Bao điện nước</option>
                            <option value="0" selected="">Theo mức sử dụng</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="tx-12 tx-spacing-1 mg-b-5 tx-color-03">Giá thuê</label>
                        <input type="tel" id="txt-room-price" name="name=txt-room-price" class="form-control" placeholder="0" data-type="currency" required="">
                    </div>
                </div>
                <div class="col-md-6 ">
                    
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">Ngày dọn vào</label>
                        <input type="text" id="date-into-room" class="form-control datetimepicker date-only" placeholder="20/11/2020" required="" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">Ngày dọn ra</label>
                        <input type="text" id="date-getout-room" class="form-control datetimepicker date-only" placeholder="20/11/2020" required="" autocomplete="off">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6" id="electric_write">
                    <div class="form-group">
                        <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">Số điện</label>
                        <input type="hidden" id="electric-price-for-bill" />
                        <input type="hidden" id="electric-old-number" />
                        <input type="tel" id="electric-new-number" class="form-control  toggle-field" placeholder="Số ban đầu" data-type="number">
                    </div>
                    <div class="upload-box">
                        <a href="javascript:;" class="btn btn-primary btn-upload d-block d-md-inline-block"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-camera mg-r-5"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg> Ảnh đồng hồ điện</a>
                        <input id="image-electric" type="file" class="hidden upload-image-input toggle-field" accept="image/*" multiple="">
                        <div class="preview-image"></div>
                    </div>
                </div>
                <div class="col-md-6" id="water_write">
                    <div class="form-group">
                        <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">Số nước</label>
                        <input type="hidden" id="water-price-for-bill" />
                        <input type="hidden" id="water-old-number" />
                        <input type="tel" id="water-new-number" class="form-control  toggle-field" placeholder="Số ban đầu" data-type="number">
                    </div>

                    <div class="upload-box">
                        <a href="javascript:;" class="btn btn-primary btn-upload d-block d-md-inline-block"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-camera mg-r-5"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg> Ảnh đồng hồ nước</a>
                        <input id="image-water" type="file" class="hidden upload-image-input  toggle-field" accept="image/*" multiple="">
                        <div class="preview-image"></div>
                    </div>
                </div>
                <div class="col-md-12 mg-t-30">
                    <div class="card ">
                        <div class="card-body">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Lựa chọn Tiện ích cho phòng<span class="text-danger">(*)</span></label>
                            <div class="table__filter-wrap">
                                <div class="">
                                    <table class="table table-hover table-striped">
                                        <thead class="">
                                            <tr class="tr-header-table">
                                                <th class="sort-label" data-column="col-electronic">Tên tiện ích</th>
                                                <th class="sort-label " data-column="col-service">Giá tiền tiện ích</th>
                                                <th class="sort-label " data-column="col-service">Lựa chọn</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody-update-room-utilities">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <h3>Thông tin người thuê</h3>
        <section>
            <div class="row ">
                <div class="col-sm form-group">
                    <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">Họ và tên</label>
                    <input type="text" class="form-control" id="fullname" placeholder="Họ tên" required="">
                </div>
                <div class="col-sm form-group">
                    <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">
                        Số điện
                        thoại
                    </label>
                    <input type="tel" class="form-control" id="phone" placeholder="SĐT" data-type="number">
                </div>
                <div class="col-sm form-group">
                    <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">
                        Địa chỉ
                        email
                    </label>
                    <input type="email"  class="form-control" id="mail" placeholder="0">
                </div>

            </div>
            <div class="row ">
                <div class="col-sm form-group">
                    <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">Quê quán</label>
                    <input type="text" class="form-control" id="hometown" placeholder="Quê của bạn...">
                </div>
                <div class="col-sm form-group">
                    <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">Số người ở</label>
                    <input type="tel" class="form-control" id="number-cusinroom" placeholder="0">
                </div>
                <div class="col-sm form-group">
                    <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">Quan hệ</label>
                    <input type="text" class="form-control" id="relationship" placeholder="VD: Vợ chồng">
                </div>
            </div>
            <div class="row ">
                <div class="col-sm form-group">
                    <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">Tên tài khoản</label>
                    <input type="text" required class="form-control" id="user-name" placeholder="NGUYENVANA">
                </div>
                
                <div class="col-sm form-group">
                    <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">Ngày sinh</label>
                    <div class="input-icon">
                        <input id="txt-dob" name="txt-dob" type="tel" required class="form-control datetimepicker date-only" placeholder="dd/mm/yyyy" value="20/10/1999" readonly="true" autocomplete="off">
                        <a href="javascript:;" class="datepicker-trigger icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg></a>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm form-group">
                    <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">Giới tính</label>
                    <select class="js-example-basic-single form-control select2" required name="ddl-gender" id="ddl-gender">
                        <option disabled="true" selected>Giới tính</option>
                        <option value="0">Giới tính Nữ</option>
                        <option value="1">Giới tính Nam</option>
                        <option value="3">Không xác định</option>
                    </select>
                </div>
                <div class="col-sm form-group">
                    <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">Địa chỉ thường trú</label>
                    <input type="text" name="txt-address" id="txt-address"  class="form-control" placeholder="Ví dụ: Khu A 123, Nguyen van A,Go vap, TP.HCM">
                </div>
                <div class="col-sm form-group">
                    <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">Số CMND/CCCD</label>
                    <input type="text" name="txt-cmnd" id="txt-cmnd" data-type="number" class="form-control" placeholder="Ví dụ: 2417742266">
                </div>
            </div>
            <div class="row ">
                @*<div class="col-sm form-group">
                    <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">Quyền người dùng</label>
                    <select class="js-example-basic-single form-control select2" required name="ddl-role" id="ddl-role">
                        <option disabled="true" selected>Quyền người dùng</option>
                        <option value="5">Khách hàng</option>
                        <option value="4">Nhân viên</option>
                    </select>
                </div>*@
                <div class="col-sm form-group">
                    <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Mật khẩu<span class="text-danger">(*)</span></label>
                    <input type="password" name="txt-pwd" id="txt-pwd" required class="form-control" placeholder="Nhập ít nhất 8 kí tự">
                </div>
                <div class="col-sm form-group">
                    <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Xác nhận Mật khẩu<span class="text-danger">(*)</span></label>
                    <input type="password" name="txt-pwdconfirm" id="txt-pwdconfirm" required class="form-control" placeholder="Nhập ít nhất 8 kí tự">
                    <span id='message2'></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-row">
                        <div class="col-12 upload-box mg-b-15">
                            <a href="javascript:;" class="btn btn-outline-primary btn-upload">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-camera mg-r-5"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg> Ảnh giấy tờ

                            </a>
                            <inpu id="cmnd-image" type="file" class="hidden upload-image-input" accept="image/*" multiple="multiple">
                            <div class="preview-image"></div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <h3>Thanh toán</h3>
        <section>
            <div class="legend-box pd-15 pd-t-30 mg-b-30" data-label="Thông tin cấu hình">
                <div class="row">
                    <div class="col-md-6">
                        <div class="info-list">
                            <dl class="row-info">
                                <dd class="">Giá phòng:</dd>
                                <dt class=""><b id="room-price"></b>  / tháng</dt>
                            </dl>
                            <dl class="row-info">
                                <dd class="">Giá điện / KW:</dd>
                                <dt class="electric-price"></dt>
                            </dl>
                            <dl class="row-info">
                                <dd class="">Giá nước:</dd>
                                <dt class="water-price"></dt>
                            </dl>
                            @*<dl class="row-info">
                                <dd class="">Điện tháng trước:</dd>
                                <dt class="">
                                    <span tabindex="0" role="button" data-toggle="popover" data-trigger="hover" title="" data-content="<strong>32323244</strong> <br/> Đã dùng: <strong>150 kW</strong>" data-original-title="Số điện tháng 3">
                                        2.000.000
                                        / 130 kW
                                    </span>
                                </dt>
                            </dl>
                            <dl class="row-info">
                                <dd class="">Nước tháng trước:</dd>
                                <dt class="">
                                    <span tabindex="0" role="button" data-toggle="popover" data-trigger="hover" title="" data-content="<strong>32323244</strong> <br/> Đã dùng: <strong>150 kW</strong>" data-original-title="Số điện tháng 3">
                                        1.500.000
                                        / m<sup>3</sup>
                                    </span>
                                </dt>
                            </dl>*@
                            <dl class="row-info mg-b-15 mg-md-b-0">
                                <dd class="">Ngày dọn vào:</dd>
                                <dt class=""><span class="date-into_room-replace"></span></dt>
                            </dl>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-list" id="room-utilities-pay">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="legend-box pd-15" data-label="Thông tin thanh toán">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">
                                Cọc
                                trước
                            </label>
                            <select name="deposit" id="deposit" class="form-control">
                                <option value="1">1 tháng</option>
                                <option value="2">2 tháng</option>
                                <option value="3" selected="">3 tháng</option>
                                <option value="4">4 tháng</option>
                                <option value="5">5 tháng</option>
                                <option value="6">6 tháng</option>
                                <option value="7">7 tháng</option>
                                <option value="8">8 tháng</option>
                                <option value="9">9 tháng</option>
                                <option value="10">10 tháng</option>
                                <option value="11">11 tháng</option>
                                <option value="12">12 tháng</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">
                                Trả trước
                                tới
                            </label>
                            <select name="first-pay" id="first-pay" class="form-control">
                                <option value="1">Hết tháng 1</option>
                                <option value="2">Hết tháng 2</option>
                                <option value="3">Hết tháng 3</option>
                                <option value="4" selected="">Hết tháng 4</option>
                                <option value="5">Hết tháng 5</option>
                                <option value="6">Hết tháng 6</option>
                                <option value="7">Hết tháng 7</option>
                                <option value="8">Hết tháng 8</option>
                                <option value="9">Hết tháng 9</option>
                                <option value="10">Hết tháng 10</option>
                                <option value="11">Hết tháng 11</option>
                                <option value="12">Hết tháng 12</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">
                                Hình
                                thức
                            </label>
                            <select name="payment-method" id="payment-method" class="form-control">
                                <option value="0" selected="">Chuyển khoản</option>
                                <option value="1">Tiền mặt</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">
                                Tổng
                                tiền
                            </label>
                            <div class="input-group mg-b-10">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" >Tổng tiền = </span>
                                </div>
                                <input type="text" id="total-money" class="form-control bg-light tx-danger tx-bold" placeholder="Tổng tiền" aria-describedby="total-money" value="0" disabled="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="tx-12   tx-spacing-1 mg-b-5 tx-color-03">
                                Thực nhận của
                                khách
                            </label>
                            <input data-type="currency" id="money-take" class="form-control" placeholder="0"  disabled="">
                        </div>
                    </div>


                </div>
            </div>

        </section>
    </div>
</div>
@await Html.PartialAsync("PartialView/_BaseScriptPartial")
<script src="~/house/lib/jquery-steps/build/jquery.steps.min.js"></script>
<script src="~/house/lib/moment/moment.js"></script>
<script>
    function onBeforeSubmitForm(event, currentIndex) {
        let $currentStepForm = $('#js-step-goin-p-' + currentIndex);
        console.log($currentStepForm);
        let inputs = $currentStepForm.find('*:required');
        for (let i = 0; i < inputs.length; i++) {
            if (inputs[i].value === "") {
                $currentStepForm.addClass('was-validated');
                return false;
                break;
            }
        }
        $currentStepForm.addClass('was-validated');
    }

    function onAfterSubmitForm() {
        alert('Chạy sau khi Submit form');
        var pathArray = window.location.pathname.split('/');
        let RoomID = pathArray[3];
        // update phong
        let room_type = $('#ListRoomType').val();
        let room_price = $('#txt-room-price').val();
        let Electric_Water_Package = $('#js-select-package').val();
        let date_into_Room = $('#date-into-room').val().split("/").reverse().join("-");
        let date_getout_Room = $('#date-getout-room').val().split("/").reverse().join("-");;
        if (ckstring(RoomID) || ckstring(room_type) || ckstring(room_price) || ckstring(Electric_Water_Package) || ckstring(date_into_Room) || ckstring(date_getout_Room)) {
            Swal.fire(
                'Cảnh báo',
                'Vui lòng nhập đầy đủ thông tin!',
                'warning'
            )
        }
        else {
            let data = {};
            data["id"] = RoomID;
            data["roomTypeId"] = room_type;
            data["price"] = room_price;
            data["electricWaterPackage"] = Electric_Water_Package; // 1: bao dien nuoc, 0: khong bao dien nuoc
            // nếu ngày vào phòng lơn hơn ngày hôm nay đổi trạng thái sang " sắp chuyển vào " ngược lại là đang thuê
            if (new Date(date_into_Room).getTime() > new Date().getTime()) {
                data["status"] = 1;
            }
            else {
                data["status"] = 2;
            }
            
            //
            data["dateInToRoom"] = date_into_Room; // 1: bao dien nuoc, 0: khong bao dien nuoc
            data["dateGetOutRoom"] = date_getout_Room; // 1: bao dien nuoc, 0: khong bao dien nuoc
            console.log(RoomID);
            console.log(room_type);
            console.log(room_price);
            console.log(Electric_Water_Package);
            console.log(date_into_Room);
            console.log(date_getout_Room);
            let api_update_room = 'api/Room';
            update_data(data, api_update_room);
        }
        // ghi dien nuoc hoac khong

        if ($('#js-select-package').val() == '1') {
            //bao điện nước => update phong
            console.log("bao điện nước");
        }
        else {
            // không bao điện nước
            let old_electric = $('#electric-old-number').val();
            let new_electric = $('#electric-new-number').val();
            let old_water = $('#water-old-number').val();
            let new_water = $('#water-new-number').val();
            let img_electric = document.getElementById('image-electric').files[0];
            let img_water = document.getElementById('image-water').files[0];
            let price_electric = $('#electric-price-for-bill').val();
            let price_water = $('#water-price-for-bill').val();
            console.log(old_electric);
            console.log(new_electric);
            console.log(old_water);
            console.log(new_water);
            console.log(img_electric);
            console.log(img_water);
            if (ckstring(old_electric) || ckstring(new_electric) || ckstring(old_water) || ckstring(new_water) || img_electric.length == 0 || img_water.length == 0) {
                Swal.fire(
                    'Cảnh báo',
                    'Vui lòng nhập đầy đủ thông tin!',
                    'warning'
                )
            }
            else {
                let listImage = [];
                listImage.push(img_electric);
                listImage.push(img_water);
                let ImageNames = upload_img(listImage);
                //data
                let data = {};
                data["id"] = 0;
                data["deleted"] = false;
                data["active"] = true;
                data["roomId"] = RoomID;
                data["electricPrice"] = price_electric;
                data["waterPrice"] = price_water;
                data["oldNumberElectric"] = old_electric;
                data["newNumberElectric"] = new_electric;
                data["oldNumberWater"] = old_water;
                data["newNumberWater"] = new_water;
                data["writeDate"] = new Date();
                data["waterImage"] = '@Model.Domain' + ImageNames[1];
                data["electricImage"] = '@Model.Domain' + ImageNames[0];
                //  giá tiền điện và nước (đổi từ kiểu string -> number)
                let eletric_price_edit = price_electric.replaceAll(",", "");
                let water_price_edit = price_water.replaceAll(",", "");
                let electricBill = (new_electric - old_electric) * eletric_price_edit;
                let waterBill = (new_water - old_water) * water_price_edit;
                data["electricBill"] = electricBill;
                data["waterBill"] = waterBill;
                //api to create bill electricwater
                let api_Create_Electric_water_bill = 'api/ElectricWaterBill';
                create_data(data, api_Create_Electric_water_bill);
            }
        }


        // update dich vu phong
        let data_room_utilities = {};
        let lsUtilitiesAndPrice = ListUtiliti_service.join(";");
        data_room_utilities["id"] = 0;
        data_room_utilities["deleted"] = false;
        data_room_utilities["active"] = true;
        data_room_utilities["roomid"] = RoomID;
        data_room_utilities["listUtilitiesAndPrice"] = lsUtilitiesAndPrice;
        // tham so chuen vao gom: roomId, UltilitiesId, price
        let api_update_utilities_room = 'api/RoomUtilities/Update_Utilities_RoomService';
        console.log(RoomID);
        console.log(lsUtilitiesAndPrice);
        create_data(data_room_utilities, api_update_utilities_room);

        // them moi nguoi thue phong
        const id = 0;
        const username = $('#user-name').val();
        const fullname = $('#fullname').val();
        const phone = $('#phone').val();
        const email = $('#mail').val();
        const dob = $('#txt-dob').val();
        const address = $('#txt-address').val();
        const gender = $('#ddl-gender').val();
        const role = 5; // set role là khách hàng // là người đại diện của phòng đó
        const pwd = $('#txt-pwd').val();
        const pwdconfirm = $('#txt-pwdconfirm').val();
        const cmnd = $('#txt-cmnd').val();
        console.log(id);
        console.log(fullname);
        console.log(username);
        console.log(phone);
        console.log(email);
        console.log(dob);
        console.log(address);
        console.log(gender);
        console.log(role);
        console.log(cmnd);
        console.log(pwd);
        console.log(pwdconfirm);
        if (ckstring(fullname) || ckstring(username) || ckstring(phone) || ckstring(username) || ckstring(email) || ckstring(dob) || ckstring(address) || ckstring(gender) || ckstring(role) || ckstring(cmnd) || ckstring(pwd) || ckstring(pwdconfirm)) {
            Swal.fire(
                'Cảnh báo',
                'Vui lòng nhập đầy đủ thông tin!',
                'warning'
            )
        }
        else {

            let data = {};
            data["id"] = id;
            data["userName"] = username;
            data["fullName"] = fullname;
            data["phone"] = phone;
            data["email"] = email;
            data["birthDate"] = dob.split("/").reverse().join("-");
            data["address"] = address;
            data["genderNumber"] = gender;
            let userGroupIds = [];
            userGroupIds.push(role);
            data["userGroupIds"] = userGroupIds;
            data["citizenIdentification"] = cmnd;
            data["password"] = pwd;
            data["confirmPassWord"] = pwdconfirm;
            data["status"] = 0;
            data["isAdmin"] = false;
            data["deleted"] = false;
            data["active"] = true;
            // tiền nợ người dùng nêu chưa trả đủ khi dọn vào
            let total_money = $('#total-money').val().replaceAll(",", "");
            let take_money = $('#money-take').val().replaceAll(",", "");
            let debtMoney = parseFloat(total_money) - parseFloat(take_money);
            console.log('debt' + debtMoney);
            data["debtMoney"] = debtMoney;
            //
            console.log('add: ' + data);
            let api_create_user = 'api/user';
            create_data(data, api_create_user).then(function (e) {
                console.log(e.Data);
                console.log(e.Data.Id);
                // them moi hop dong( ngày dọn vào phòng, tiền cọc, tiền trả trước, phwuogn thức thanh toán, tổng tiền, tổng tiền nhận đươc, tiền khách hàng nợ
            //  roomid, userid )
                let date_into_room = $('#date-into-room').val().split("/").reverse().join("-");
                let deposit = $('#deposit').val();
                let first_pay = $('#first-pay').val();
                let payment_method = $('#payment-method').val();
                let hometown = $('#hometown').val();
                let numCusInRoom = $('#number-cusinroom').val();
                let relationship = $('#relationship').val();
                let money_take = $('#money-take').val().replaceAll(",", "");
                let roomId = RoomID;
                let userId = e.Data.Id;
                let room_price = $('#txt-room-price').val().replaceAll(",", "");
                console.log(room_price);
                console.log(date_into_room);
                console.log(deposit);
                console.log(first_pay);
                console.log(payment_method);
                console.log(money_take);
                console.log(roomId);
                console.log(userId);
                if (ckstring(date_into_room) || ckstring(deposit) || ckstring(first_pay) || ckstring(payment_method) || ckstring(money_take) || ckstring(roomId) || ckstring(userId)) {
                    Swal.fire(
                        'Cảnh báo',
                        'Vui lòng nhập đầy đủ thông tin!',
                        'warning'
                    )
                }
                else {
                    let data = {};
                    data["roomId"] = roomId;
                    data["userId"] = userId;
                    data["dateIntoRoom"] = date_into_room;
                    data["deposit"] = deposit;
                    data["prepay"] = first_pay;
                    data["homeTown"] = hometown;
                    data["numCusInRoom"] = numCusInRoom;
                    data["relationship"] = relationship;
                    data["paymentMethod"] = payment_method;
                    data["takeMoney"] = money_take;
                    data["userMoney"] = parseFloat(parseFloat(money_take) - (parseFloat(room_price)*parseFloat(deposit)) );
                    data["deleted"] = false;
                    data["status"] = 0; //status =0 hợp đồng đang sử dụng
                    data["active"] = true;
                    let api_create_user = 'api/RoomContractRepresentative';
                    create_data(data, api_create_user).then(function (e) {
                        console.log(e);
                    })
                    // update người đại diện phòng đó
                    let api_update_room_user = 'api/Room';
                    let data_update_room_user = {};
                    data_update_room_user["id"] = RoomID;
                    data_update_room_user["active"] = true;
                    data_update_room_user["userInRoomRepresentative"] = userId;
                    update_data(data_update_room_user, api_update_room_user);
                    // thêm mới người vào phòng
                    let data_new_user_in_room = {};
                    data_new_user_in_room["id"] = 0;
                    data_new_user_in_room["usersId"] = userId;
                    data_new_user_in_room["status"] = 1; // 1: đang ở , 2: đã chuyển
                    data_new_user_in_room["deleted"] = false;
                    data_new_user_in_room["active"] = true;
                    data_new_user_in_room["roomId"] = RoomID;
                    let api_new_user_in_room = 'api/userinroom';
                    create_data(data_new_user_in_room, api_new_user_in_room);
                }
            });
        }
        console.log('Chạy sau khi Submit form');

    }

    function checkrequired(event, currentIndex, newIndex) {
        
        load_room_utilities();
        load_total_money();
        if (currentIndex > newIndex) {
            return true;
        }
        let $currentStepForm = $('#js-step-goin-p-' + currentIndex);
        let inputs = $currentStepForm.find('*:required');
        for (let i = 0; i < inputs.length; i++) {
            if (inputs[i].value === "") {
                $currentStepForm.addClass('was-validated');
                return false;
                break;
            }
        }
        $currentStepForm.addClass('was-validated');
        return true;
    }
    function initForm() {
        $('#js-step-goin').steps({
            headerTag: 'h3',
            bodyTag: 'section',
            transitionEffect: 'fade',
            transitionEffectSpeed: 200,
            stepsOrientation: "vertical",
            autoFocus: true,
            labels: {
                cancel: 'Huỷ',
                next: 'Tiếp tục',
                previous: 'Quay lại',
                finish: 'Xong',
            },
            titleTemplate: '<span class="number">#index#</span> <span class="title">#title#</span>',
            startIndex: 0,
            onStepChanging: checkrequired,
            //onFinishing: onBeforeSubmitForm,
            onFinished:onAfterSubmitForm
        });
    }
    initForm();
    $(document).ready(function () {

        @*$('.js-add-service').on('click', function () {
            const html = ` <div class="row align-items-center mg-b-20">
                            <div class="col pl-r-5">
                                <input type="tel" class="form-control" placeholder="Tên dịch vụ" ata-type="number" value="">
                            </div>
                            <div class="col pd-l-5">
                                <input type="tel" class="form-control" placeholder="Giá" data-type="number" value="">
                            </div>
                            <div class="col pd-l-0 flex-grow-0">
                                <a href="javascript:;" class="tx-danger delete-service"><i data-feather="minus-square"></i></a>
                            </div>
                        </div>`;
            $('.list-services').append(html);
            feather.replace();
        });
        $('.list-services').on('click', '.delete-service', function () {
            $(this).closest('.row').remove();
        });*@
        // $('#js-select-package').on('change', function(e) {
        //     let $fields = $('.toggle-field');
        //     let $upload = $('.upload-box');
        //     let value = $(this).val();
        //     console.log($fields);
        //     switch (value) {
        //         case 'type-all': {
        //             $fields.prop('disabled', true);
        //             $fields.addClass('disabled');
        //             $fields.attr('placeholder', 'Đã bao gồm tiền phòng');
        //             $upload.fadeOut();
        //             break;
        //         }
        //         case 'type-day': {
        //             $fields.removeClass('disabled');
        //             $fields.prop('disabled', false);
        //             $fields.attr('placeholder', 'Số ban đầu');
        //             $upload.fadeIn();
        //             break;
        //         }
        //     }
        // });
    });
</script>
<script>
    //#region load thong tin phong
    $(document).ready(function () {
        var pathArray = window.location.pathname.split('/');
        var RoomID = pathArray[3];
        console.log('roomId:' + RoomID);
        //load roomType
        $.ajax({
                type: 'GET',
                dataType: "json",
                url: '@Model.Domain' + 'api/RoomType?PageIndex=1&PageSize=20&OrderBy=0&TenantId=' + '@Model.Users.Id',
                headers: {
                    'Authorization': 'Bearer ' + '@Model.Token',
                    'Content-Type': 'application/json'
                },
                success: function (data, status, xhr) {
                    let list = data.Data.Items;

                    select = document.getElementById('ListRoomType');
                    for (let i = 0; i < list.length; i++) {

                        var opt = document.createElement('option');
                        opt.value = list[i].Id;
                        opt.innerHTML = list[i].Name;
                        select.appendChild(opt);
                    }
                    // load room
                    $.ajax({
                            type: 'GET',
                            dataType: "json",
                            url: '@Model.Domain' + 'api/Room/' + RoomID,
                            headers: {
                                'Authorization': 'Bearer ' + '@Model.Token',
                                'Content-Type': 'application/json'
                            },
                            success: function (data, status, xhr) {
                                let item = data.Data;
                                // lấy giữ liệu từ api
                                //$('#hdfId').val(item.Id);
                                //$('input[name=txt-room-name-edit]').val(item.Name);
                                //$('#ListBranch-edit').val(item.BranchId).change();
                                //$('#ListFloor-edit').val(item.BranchFloor).change();
                                $('#txt-room-price').val(format_money(item.Price));
                                $('#room-price').html(format_money(item.Price));
                                //$('input[name=txt-Acreage-edit]').val(item.Acreage);
                                //$('input[name=txt-deposit-edit]').val(format_money(item.Deposit));
                                //$('input[name=txt-BedAmount-edit]').val(item.BedAmount);
                                $('#ListRoomType').val(item.RoomTypeId).change();
                                //$('#room-status-edit').val(item.Status).change();
                            },
                            error: function (xhr, status, error) {
                                alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                            }
                        });
                },
                error: function (xhr, status, error) {
                    alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                }
            });
    })
    //#endregion
    //#region chọn gói điện nước
    $('#js-select-package').on('change', function () {
        let $fields = $('.toggle-field');
        let $upload = $('.upload-box');
       
        console.log($fields);
        if ($('#js-select-package').val() == '1') {
            // disable ghi điện nước
            $('.electric-price').html('<span class="tx-success">Đã bao gồm</span>');
            $('.water-price').html('<span class="tx-success">Đã bao gồm</span>');
            $('#electric_write').css("display", "none");
            $('#water_write').css("display", "none");
            //
            $fields.prop('disabled', true);
            $fields.addClass('disabled');
            $fields.attr('placeholder', 'Đã bao gồm tiền phòng');
            $upload.fadeOut();
        }
        else {
            // enable ghi điện nước
            $('.electric-price').html($('#electric-price-for-bill').val() + 'đ');
            $('.water-price').html($('#water-price-for-bill').val() + 'đ');
            $('#electric_write').css("display", "block");
            $('#water_write').css("display", "block");
            $fields.removeClass('disabled');
            $fields.prop('disabled', false);
            $fields.attr('placeholder', 'Số ban đầu');
            $upload.fadeIn();
        }
    })
    //#endregion
    //#region Ghi điện trước kho dọn vào phòng
    // lấy ra lần ghi điện mới nhât để làm số cũ
    $(document).ready(function () {
        var pathArray = window.location.pathname.split('/');
        var RoomID = pathArray[3];
        let api_Electric_water_bill = 'api/ElectricWaterBill?RoomId=' + RoomID + '&PageIndex=1&PageSize=20&OrderBy=0&TenantId=@Model.Users.Id';
                load_data_with_jquery(api_Electric_water_bill).then(function (e) {
                    let list = e.Data.Items;
                    console.log(list);
                    // lay ra bill dau tien de lam so moi.
                    // nếu chưa có hóa đơn nào
                    if (list.length > 0) {
                        $('#electric-old-number').val(list[0].NewNumberElectric);
                        $('#water-old-number').val(list[0].NewNumberWater);
                        console.log(list[0].NewNumberElectric);
                        console.log(list[0].NewNumberWater);
                    }
                    else {
                        $('#electric-old-number').val(0);
                        $('#water-old-number').val(0);
                    }
                    // lấy giá điện nước
                    let api_GetPrice_Electric_Water = 'api/Room/' + RoomID;
                    load_data_with_jquery(api_GetPrice_Electric_Water).then(function (e) {
                        let data = e.Data;
                        // gan vao modal
                        $('#electric-price-for-bill').val(format_money(data.ElectricPrice));
                        $('#water-price-for-bill').val(format_money(data.WaterPrice));
                        $('.electric-price').html(format_money(data.ElectricPrice)+'đ');
                        $('.water-price').html(format_money(data.WaterPrice)+'đ');
                        console.log(data.ElectricPrice);
                        console.log(data.WaterPrice);
                    })
                });
    })
    //#endregion
    //#region Tiện ích trong phòng
    let ListRoomUtilies = [];
    let ListUtiliesConfig = [];
    let ListUtiliti_service = [];
    let ListUtiliti_service_tmp = [];
    $(document).ready(function () {
        var pathArray = window.location.pathname.split('/');
        var RoomID = pathArray[3];
        //call api tien ich
        let api_utilitiConfig = 'api/UtilitiesConfig?PageIndex=1&PageSize=20&OrderBy=0&TenantId=@Model.Users.Id';

        load_data_with_jquery(api_utilitiConfig).then(function (e) {
            let list = e.Data.Items;
            let html = '';
            ListUtiliesConfig = list;
            for (var i = 0; i < list.length; i++) {
                let item = list[i];
                html += '<tr>';
                html += '<td>' + item.Name + '</td>';
                html += '<td><input id="RoomUtilitiesPrice-' + item.Id + '" data-type="currency"  class="form-control" value="' + format_money(item.Price) + '" /></td>';
                html += '<td>' +
                    '<input type="checkbox" id="RoomUtilities-' + item.Id + '" data-price="'+item.Price+'" data-roomid="'+item.Id+'" onclick="RoomUtilitiesCheckBox(' + i + ')" ></td>';
                html += '</tr>';
            }
            $('#tbody-update-room-utilities').hide().html(html).show('slow');
            // check zo tiện ích nào mà phòng đó có
            // call api Room Utilities
            let api_RoomUtilities = 'api/RoomUtilities?PageIndex=1&PageSize=20&OrderBy=0&TenantId=@Model.Users.Id' + '&RoomId=' + RoomID;
            load_data_with_jquery(api_RoomUtilities).then(function (e) {
                ListRoomUtilies = [];
                ListUtiliti_service = [];
                ListUtiliti_service_tmp = [];
                let list = e.Data.Items;
                ListRoomUtilies = list;
                RoomUtilitiesCheck();
                $('#js-edit-service').modal('show');
            })
        })
    })
    function RoomUtilitiesCheck() {
        if (ListRoomUtilies.length > 0) {
            for (var i = 0; i < ListUtiliesConfig.length; i++) {
                let tmp = false;
                var checkBox = document.getElementById("RoomUtilities-" + ListUtiliesConfig[i].Id);
                var input = document.getElementById("RoomUtilitiesPrice-" + ListUtiliesConfig[i].Id);
                for (var j = 0; j < ListRoomUtilies.length; j++) {
                    if (ListUtiliesConfig[i].Id == ListRoomUtilies[j].UtilitiesId) {
                        checkBox.checked = true;
                        input.value = format_money(ListRoomUtilies[j].Price);
                        //
                        ListUtiliti_service_tmp.push(ListUtiliesConfig[i].Name + ':' + input.value.replaceAll(',', ''));
                        //
                        ListUtiliti_service.push(ListUtiliesConfig[i].Id + ':' + input.value.replaceAll(',', ''));
                        input.readOnly = true;
                        tmp = true;
                        break;
                    }
                    else {
                        tmp = false;
                    }
                }
                if (tmp == false) {
                    checkBox.checked = false;
                    //
                    let indet = ListUtiliti_service_tmp.indexOf(ListUtiliesConfig[i].Name + ':' + input.value.replaceAll(',', ''));
                    if (indet >= 0) {
                        ListUtiliti_service_tmp.splice(index, 1);
                    }
                    //
                    let index = ListUtiliti_service.indexOf(ListUtiliesConfig[i].Id + ':' + input.value.replaceAll(',', ''));
                    input.value = format_money(ListUtiliesConfig[i].Price);
                    if (index >= 0) {
                        ListUtiliti_service.splice(index, 1);
                    }
                    input.readOnly = false;
                }
            }
        }
        else {
            for (var i = 0; i < ListUtiliesConfig.length; i++) {
                var checkBox = document.getElementById("RoomUtilities-" + ListUtiliesConfig[i].Id);
                var input = document.getElementById("RoomUtilitiesPrice-" + ListUtiliesConfig[i].Id);

                checkBox.checked = false;
                let index = ListUtiliti_service.indexOf(ListUtiliesConfig[i].Id + ':' + input.value.replaceAll(',', ''));
                input.value = ListUtiliesConfig[i].Price;
                ListUtiliti_service.splice(index, 1);
                input.readOnly = false;
            }
        }
    }
    // kiem tra khi bat dau chin checkbox
    function RoomUtilitiesCheckBox(index) {
        for (let i = 0; i < ListUtiliesConfig.length; i++) {
            if (ListUtiliesConfig[i].Id == ListUtiliesConfig[index].Id) {
                var checkBox = document.getElementById("RoomUtilities-" + ListUtiliesConfig[i].Id);
                var input = document.getElementById("RoomUtilitiesPrice-" + ListUtiliesConfig[i].Id);

                if (checkBox.checked == true) {
                    ListUtiliti_service.push(ListUtiliesConfig[i].Id + ':' + input.value.replaceAll(',', ''));
                    //
                    ListUtiliti_service_tmp.push(ListUtiliesConfig[i].Name + ':' + input.value.replaceAll(',', ''));
                    console.log(ListUtiliti_service_tmp);
                    //
                    input.readOnly = true;
                    console.log(ListUtiliti_service);
                }
                else {
                    //
                    let indet = ListUtiliti_service_tmp.indexOf(ListUtiliesConfig[i].Name + ':' + input.value.replaceAll(',', ''));
                    ListUtiliti_service_tmp.splice(indet, 1);
                    console.log(ListUtiliti_service_tmp);
                    //
                    let index = ListUtiliti_service.indexOf(ListUtiliesConfig[i].Id + ':' + input.value.replaceAll(',', ''));
                    ListUtiliti_service.splice(index, 1);
                    input.readOnly = false;
                    console.log(ListUtiliti_service);
                }
            }
        }
    }

    //#endregion
    //#region tiện ích phòng sau khi chỉnh sửa
    let room_utilities_price = 0;
    function load_room_utilities() {
        let date_into_Room = $('#date-into-room').val().split("/").reverse().join("-");
        console.log(new Date(date_into_Room).getTime());
        console.log(new Date().getTime());
        console.log(new Date(date_into_Room).getTime() < new Date().getTime());
        console.log(ListUtiliti_service_tmp);
        room_utilities_price = 0;
        let html = '';
        //xử lý chuỗi
        for (let i = 0; i < ListUtiliti_service_tmp.length; i++){
            // tính tiền theo tiện ích phòng
            room_utilities_price += parseFloat(ListUtiliti_service_tmp[i].split(":")[1]);
            html += `<dl class="row-info">
                                <dd class="">`+ ListUtiliti_service_tmp[i].split(":")[0] +`</dd>
                                <dt class="">`+ format_money(ListUtiliti_service_tmp[i].split(":")[1]) +`</dt>
                            </dl>`;
        }
        $('#room-utilities-pay').html(html);
        // load lại giá phòng
        $('#room-price').html($('#txt-room-price').val());
        console.log('ahihihhihi' + room_utilities_price);
        // load lại ngày dọn vào phòng
        $('.date-into_room-replace').html($('#date-into-room').val());
    }
    //#endregion
    //#region thông tin thanh toán
    // tổng tiền = tiền cọc + tiền trả trước + tiền dịch vụ
    function load_total_money() {
        let room_price = $('#txt-room-price').val().replaceAll(",", "");
        let deposit = $('#deposit').val();
        let first_pay = $('#first-pay').val();
        console.log(room_price);
        console.log(deposit);
        console.log(first_pay);
        let total_money = parseFloat(room_price) * (parseFloat(deposit) + parseFloat(first_pay)) + parseFloat(room_utilities_price);
        $('#total-money').val(format_money(total_money));
        $('#money-take').val(format_money(total_money))
    }
    $('#deposit').on('change', function () {
        let room_price = $('#txt-room-price').val().replaceAll(",", "");
        let deposit = $('#deposit').val();
        let first_pay = $('#first-pay').val();
        console.log(room_price);
        console.log(deposit);
        console.log(first_pay);
        let total_money = parseFloat(room_price) * (parseFloat(deposit) + parseFloat(first_pay)) + parseFloat(room_utilities_price);
        $('#total-money').val(format_money(total_money));
        $('#money-take').val(format_money(total_money))

    })
    $('#first-pay').on('change', function () {
        let room_price = $('#txt-room-price').val().replaceAll(",", "");
        let deposit = $('#deposit').val();
        let first_pay = $('#first-pay').val();
        console.log(room_price);
        console.log(deposit);
        console.log(first_pay);
        let total_money = parseFloat(room_price) * (parseFloat(deposit) + parseFloat(first_pay)) + parseFloat(room_utilities_price);
        $('#total-money').val(format_money(total_money));
        $('#money-take').val(format_money(total_money))

    })
    //#endregion

    //#region xử lý hình ảnh
    //
    function upload_img(files) {
            let rs = [];
            var formData = new FormData();
            for (let i = 0; i < files.length; i++) {
                formData.append('files', files[i]);
            }
            $.ajax({
                async: false,
                type: 'POST',
                url: '@Model.Domain' + 'api/file/upload-multiple-files',
                headers: {
                    'Authorization': 'Bearer ' + '@Model.Token',
                },
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data, status, xhr) {
                    console.log("upload thanh cong");
                    console.log(data);
                    rs = data.Data;
                },
                error: function (xhr, status, error) {
                    alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                }
            });
            return rs;
        }
    //#endregion

    //#region Bắt lỗi form điền pwdconfirm
    $('#update-pwd, #update-pwdconfirm').on('keyup', function () {
        if ($('#update-pwd').val() == $('#update-pwdconfirm').val()) {
            $('#message').html('Matching').css('color', 'green');
        } else
            $('#message').html('Not Matching').css('color', 'red');
    });
    $('#txt-pwd, #txt-pwdconfirm').on('keyup', function () {
        if ($('#txt-pwd').val() == $('#txt-pwdconfirm').val()) {
            $('#message2').html('Matching').css('color', 'green');
        } else
            $('#message2').html('Not Matching').css('color', 'red');
    });
    //#endregion
</script>
