@using Microsoft.AspNetCore.Http
@{
    string token = Context.Session.GetString("token");
    string domain = Context.Session.GetString("domain");
    if (string.IsNullOrEmpty(token))
    {
        Context.Response.Redirect(Url.Action("Login", "Login"));
    }
}

<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>Mona House - Design and developed by Mona Media</title>
    <link rel="apple-touch-icon" href="app-~/house/assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/house/images/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- vendor css -->
    <link href="~/house/lib/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/house/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/house/lib/datetimepicker-2.5.20/jquery.datetimepicker.min.css" rel="stylesheet">
    <link href="~/house/lib/select2/css/select2.min.css" rel="stylesheet">
    <link href="~/house/lib/filepond/filepond.css" rel="stylesheet">
    <link href="~/house/lib/filepond-preview/filepond-plugin-media-preview.min.css" rel="stylesheet">
    <link href="~/house/lib/lightgallery/css/lightgallery.min.css" rel="stylesheet">
    <!-- Mona CSS -->
    <link rel="stylesheet" href="~/house/assets/css/dashforge.min.css?v=1.3">
    <link href="~/house/assets/css/custom.css?v=1.4" rel="stylesheet" />
    <link href="~/house/dropify/css/dropify.min.css" rel="stylesheet" />
    <link href="~/house/assets/dev/csscustom.css" rel="stylesheet" />
    <!-- some additional css here -->
    <script src="~/house/lib/jquery/jquery.min.js"></script>
    <script src="~/house/lib/tablefilter/js/table-filter.js" type="module"></script>
</head>
<!-- END: Head-->
<body class="">
    <style>
        .modal-loading {
            display: none;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba( 255, 255, 255, .8 ) 50% 50% no-repeat;
        }

        /* When the body has the loading class, we turn
        the scrollbar off with overflow:hidden */
        body.loading .modal-loading {
            overflow: hidden;
        }

        /* Anytime the body has the loading class, our
        modal element will be visible */
        body.loading .modal-loading {
            display: block;
        }
    </style>
    <style>
        .checked-in-form {
            margin-left: 6%;
        }

        .modal-body-border-top {
            border-top: 1px solid #d8d7d7
        }

        .page-nav {
            float: right;
        }

        .span-totalrow {
            display: inline-block;
            float: right;
            margin: 8px
        }

        .span-row-page {
            display: inline-block;
            float: right;
            margin: 8px
        }

        .modal-nopadding-right {
            padding-right: 0 !important;
        }
        .table__filter__wrap .table .tr-header-table {
            background-color: #1ec8c8;
        }
        .table__filter__wrap .table .tr-header-table th {
            padding: 12px;
            color:white;
        }
        .table-responsive {
            border-radius: 10px;
        }
            .table-responsive i {
                font-size: 25px;
            }
        .table-striped tbody tr:nth-of-type(2n+1) {
            background-color: rgba(8,181,5,.12156862745098039);
        }
        .text-table-center {
            text-align:center;
        }
    </style>
    <div class="modal-loading" style="background-image: url('/house/loading.gif')"></div>
    <header class="navbar navbar-header navbar-header-fixed">
        <a href="" id="mainMenuOpen" class="burger-menu"><i data-feather="menu"></i></a>
        <div class="navbar-brand">
            <a href="./" class="df-logo"><img src="~/house/assets/img/logo.png" alt="logo"></a>
        </div><!-- navbar-brand -->
        <div id="navbarMenu" class="navbar-menu-wrapper">
            <div class="navbar-menu-header">
                <a href="./" class="df-logo">Mona<span>House</span></a>
                <a id="mainMenuClose" href=""><i data-feather="x"></i></a>
            </div><!-- navbar-menu-header -->
            <ul class="nav navbar-menu">
                @await Html.PartialAsync("_MenuPartial")
            </ul>
        </div><!-- navbar-menu-wrapper -->
        <div class="navbar-right">
            <a href="tel:1900636648"><i data-feather="phone-call" style="width:16px; margin-right:5px;"></i>1900 636 648</a>
            <div class="dropdown dropdown-notification">
                <a href="javascript:;" class="dropdown-link new-indicator" data-toggle="dropdown">
                    <i data-feather="bell"></i>
                    <span>99</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">Notifications</div>

                    <div class="dropdown-footer"><a href="@Url.Action("Notification", "Account", new { area = "" })">View all Notifications</a></div>
                </div><!-- dropdown-menu -->
            </div><!-- dropdown -->
            <div class="dropdown dropdown-profile">
                <a href="javascript:;" class="dropdown-link" data-toggle="dropdown" data-display="static">
                    <div class="avatar avatar-sm">
                        <img src="~/house/images/user.png" class="rounded-circle" alt="">
                    </div>
                </a><!-- dropdown-link -->
                <div class="dropdown-menu dropdown-menu-right tx-13">
                    <div class="avatar avatar-lg mg-b-15">
                        <img src="~/house/images/user.png" class="rounded-circle" alt="">
                    </div>
                    <h6 class="tx-semibold mg-b-5">Ngô Tùng Đạt</h6>
                    <p class="mg-b-5 tx-12 tx-color-03">Loại tài khoản: <span class="badge badge-primary">Premium</span></p>
                    <p class="mg-b-25 tx-12 tx-color-03">Hết hạn: <span class="tx-bold">25/04/2020</span></p>
                    <a href="@Url.Action("ProfileUser", "Account", new { area = "" })" class="dropdown-item"><i data-feather="user"></i> Thông tin tài khoản</a>
                    <a href="@Url.Action("Price", "PriceTable", new { area = "" })" class="dropdown-item"><i data-feather="chevrons-up"></i> Nâng cấp tài khoản</a>
                    <a href="tel:1900636648" class="dropdown-item"><i data-feather="phone-call" style="font-size:16px;"></i> Hỗ trợ: 1900 636 648</a>
                    <div class="dropdown-divider"></div>
                    <a href="@Url.Action("Signout", "Login")" class="dropdown-item"><i data-feather="log-out"></i>Đăng xuất</a>
                </div><!-- dropdown-menu -->
            </div><!-- dropdown -->
        </div><!-- navbar-right -->
    </header><!-- navbar -->
    <!-- side chat -->
    <div class="content content-fixed">
        @RenderBody()
    </div><!-- content -->
    <footer class="footer">
        <div>
            <span>&copy; 2019 MONA.HOUSE v1.0.0. </span>
            <span>Created by <a href="http://mona.media">Mona Media</a></span>
        </div>
        <div>
            <nav class="nav">
                <a href="https://mona.media" class="nav-link">Licenses</a>
            </nav>
        </div>
    </footer>

    <script src="~/house/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/house/lib/feather-icons/feather.min.js"></script>
    <script src="~/house/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/house/lib/datetimepicker-2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script src="~/house/lib/select2/js/select2.min.js"></script>
    <script src="~/house/lib/moment/min/moment.min.js"></script>
    <script src="~/house/lib/filepond/filepond.js"></script>
    <script src="~/house/lib/filepond-preview/filepond-plugin-media-preview.min.js"></script>
    <script src="~/house/assets/js/dashforge.js"></script>

    <script src="~/house/lib/lightgallery/js/lightgallery-all.min.js"></script>
    <script src="~/house/assets/js/custom.js"></script>
    <script src="~/house/dropify/js/dropify.min.js"></script>
    <!-- append theme customizer -->
    <script src="~/house/assets/dev/jscustom.js"></script>
    <script src="~/house/assets/js/sweetalert2@8.js"></script>
</body>
</html>
<script src="~/house/lib/chart.js/Chart.bundle.min.js"></script>
@*<script src="~/house/lib/chart.js/chartjs-plugin-datalabels.js"></script>*@
<script>
    $body = $("body");
    $(document).on({
        ajaxStart: function () { $body.addClass("loading"); },
        ajaxStop: function () { $body.removeClass("loading"); }
    });

    let domains = '@domain';
    let tokens = '@token';

    function ckstring(str) { //check null empty
        return (!str || /^\s*$/.test(str));
    }
    function format_money(input) {
        return parseInt(input).toLocaleString();
    }
</script>
