@model int
<style>
    .navbar-menu .nav-link {
        line-height: 0;
    }
</style>
@{
    switch (Model)
    {
        case 1: //admin
            <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Trang điều hướng</li>
            <li class="nav-item @ViewBag.Dashboard">
                <a href="@Url.Action("Dashboard", "Home", new { area = "" })" class="nav-link"><i class="fas fa-chart-area"></i> <span class="mg-l-5">Thống kê</span></a>
            </li>
            <li class="nav-item @ViewBag.ListHouse">
                <a href="@Url.Action("BranchList", "Branch", new { area = "" })" class="nav-link"><i class="fas fa-home"></i> <span class="mg-l-5">Nhà/Dãy trọ</span></a>
            </li>
            <li class="nav-item @ViewBag.ListRoom">
                <a href="@Url.Action("RoomList", "Room", new { area = "" })" class="nav-link"><i class="fas fa-hospital-alt"></i> <span class="mg-l-5">Phòng</span></a>
            </li>
            <li class="nav-item @ViewBag.ElectrictWater">
                <a href="@Url.Action("RecordList", "Record", new { area = "" })" class="nav-link"><i class="fas fa-edit"></i> <span class="mg-l-5">Ghi điện nước</span></a>
            </li>
            <li class="nav-item @ViewBag.CollectList">
                <a href="@Url.Action("PaymentHistoryList", "PaymentHistory", new { area = "" })" class="nav-link"><i class="fas fa-history"></i> <span class="mg-l-5">Lịch sử thu tiền</span></a>
            </li>
            <li class="nav-item with-sub">
                <a href="javascript:;" class="nav-link"><i class="fas fa-cog"></i> <span class="mg-l-5">Cấu hình</span></a>
                <ul class="navbar-menu-sub">
                    <li class="nav-sub-item"><a href="@Url.Action("Cities", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-city mr-3"></i>Địa chỉ</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("VehicleFeeConfig", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-car-side mr-3"></i>Phí giữ xe</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("UtilitiesConfig", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Tiện ích</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("CustomerResource", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Nguồn Khách hàng</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("FeedBackType", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>loại phản hồi</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("Contract", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Mẫu Giấy Phép</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("ListAllContract", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Xem Giấy Phép</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("NotificationCenter", "Notification", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Trung Tâm Thông Báo</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("ProfileUser", "Account", new { area = "" })" class="nav-sub-link"><i data-feather="user"></i>Đổi thông tin tài khoản</a></li>
                    <li class="nav-sub-item"><a href="/Package/PackageList" class="nav-sub-link"><i data-feather="user"></i>Gói phần mềm</a></li>
                    <li class="nav-sub-item"><a href="/User/UserOwner" class="nav-sub-link"><i data-feather="user"></i>Danh sách chủ nhà</a></li>
                    <li class="nav-sub-item"><a href="/UserGroup/UserGroup" class="nav-sub-link"><i data-feather="user"></i>User Group</a></li>
                    <li class="nav-sub-item"><a href="/UserGroup/UserInGroup" class="nav-sub-link"><i data-feather="user"></i>User In Group</a></li>
                    <li class="nav-sub-item"><a href="javascript:;" class="nav-sub-link"><i data-feather="monitor"></i>Hướng dẫn sử dụng</a></li>
                </ul>
            </li>
            <li class="nav-item with-sub">
                <a href="javascript:;" class="nav-link"><i class="fas fa-cog"></i> <span class="mg-l-5">Hệ thống</span></a>
                <ul class="navbar-menu-sub">
                    <li class="nav-sub-item"><a href="@Url.Action("UserManager", "System", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Quản lý người dùng</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("Permissions", "System", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Quản lý chức năng</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("UserGroupManager", "System", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Quản lý nhóm người dùng</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("PermitObjects", "System", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Quản lý nhóm chức năng</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("Decentralization", "System", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Phân quyền</a></li>
                </ul>
            </li>
            break;

        case 2: //CSKH của admin
            <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Trang điều hướng</li>
            <li class="nav-item @ViewBag.Dashboard">
                <a href="@Url.Action("Dashboard", "Home", new { area = "" })" class="nav-link"><i class="fas fa-chart-area"></i> <span class="mg-l-5">Thống kê</span></a>
            </li>
            <li class="nav-item @ViewBag.ListHouse">
                <a href="@Url.Action("BranchList", "Branch", new { area = "" })" class="nav-link"><i class="fas fa-home"></i> <span class="mg-l-5">Nhà/Dãy trọ</span></a>
            </li>
            <li class="nav-item @ViewBag.ListRoom">
                <a href="@Url.Action("RoomList", "Room", new { area = "" })" class="nav-link"><i class="fas fa-hospital-alt"></i> <span class="mg-l-5">Phòng</span></a>
            </li>
            <li class="nav-item @ViewBag.ElectrictWater">
                <a href="@Url.Action("RecordList", "Record", new { area = "" })" class="nav-link"><i class="fas fa-edit"></i> <span class="mg-l-5">Ghi điện nước</span></a>
            </li>
            <li class="nav-item @ViewBag.CollectList">
                <a href="@Url.Action("PaymentHistoryList", "PaymentHistory", new { area = "" })" class="nav-link"><i class="fas fa-history"></i> <span class="mg-l-5">Lịch sử thu tiền</span></a>
            </li>
            <li class="nav-item with-sub">
                <a href="javascript:;" class="nav-link"><i class="fas fa-cog"></i> <span class="mg-l-5">Cấu hình</span></a>
                <ul class="navbar-menu-sub">
                    <li class="nav-sub-item"><a href="@Url.Action("Cities", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-city mr-3"></i>Địa chỉ</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("VehicleFeeConfig", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-car-side mr-3"></i>Phí giữ xe</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("UtilitiesConfig", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Tiện ích</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("CustomerResource", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Nguồn Khách hàng</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("Contract", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Mẫu Giấy Phép</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("ListAllContract", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Xem Giấy Phép</a></li>

                    <li class="nav-sub-item"><a href="@Url.Action("FeedBackType", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>loại phản hồi</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("NotificationCenter", "Notification", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Trung Tâm Thông Báo</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("ProfileUser", "Account", new { area = "" })" class="nav-sub-link"><i data-feather="user"></i>Đổi thông tin tài khoản</a></li>s
                    <li class="nav-sub-item"><a href="/Package/PackageList" class="nav-sub-link"><i data-feather="user"></i>Gói phần mềm</a></li>
                    <li class="nav-sub-item"><a href="/User/UserOwner" class="nav-sub-link"><i data-feather="user"></i>Danh sách chủ nhà</a></li>
                    <li class="nav-sub-item"><a href="javascript:;" class="nav-sub-link"><i data-feather="monitor"></i>Hướng dẫn sử dụng</a></li>
                </ul>
            </li>
            break;

        case 3: // chủ nhà -  chủ trọ
            <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Trang điều hướng</li>
            <li class="nav-item @ViewBag.Dashboard">
                <a href="@Url.Action("Dashboard", "Home", new { area = "" })" class="nav-link"><i class="fas fa-chart-area"></i> <span class="mg-l-5">Thống kê</span></a>
            </li>
            <li class="nav-item @ViewBag.ListHouse">
                <a href="@Url.Action("BranchList", "Branch", new { area = "" })" class="nav-link"><i class="fas fa-home"></i> <span class="mg-l-5">Nhà/Dãy trọ</span></a>
            </li>
            <li class="nav-item @ViewBag.ListRoom">
                <a href="@Url.Action("RoomList", "Room", new { area = "" })" class="nav-link"><i class="fas fa-hospital-alt"></i> <span class="mg-l-5">Phòng</span></a>
            </li>
            <li class="nav-item @ViewBag.ElectrictWater">
                <a href="@Url.Action("RecordList", "Record", new { area = "" })" class="nav-link"><i class="fas fa-edit"></i> <span class="mg-l-5">Ghi điện nước</span></a>
            </li>
            <li class="nav-item @ViewBag.CollectList">
                <a href="@Url.Action("PaymentHistoryList", "PaymentHistory", new { area = "" })" class="nav-link"><i class="fas fa-history"></i> <span class="mg-l-5">Lịch sử thu tiền</span></a>
            </li>
            <li class="nav-item with-sub">
                <a href="javascript:;" class="nav-link"><i class="fas fa-cog"></i> <span class="mg-l-5">Cấu hình</span></a>
                <ul class="navbar-menu-sub">
                    <li class="nav-sub-item"><a href="@Url.Action("Cities", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-city mr-3"></i>Địa chỉ</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("VehicleFeeConfig", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-car-side mr-3"></i>Phí giữ xe</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("UtilitiesConfig", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Tiện ích</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("Contract", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Mẫu Giấy Phép</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("ListAllContract", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Xem Giấy Phép</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("CustomerResource", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Nguồn Khách hàng</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("FeedBackType", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>loại phản hồi</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("UserFeedback", "Feedback", new { area = "" })" class="nav-sub-link"><i data-feather="user"></i>Phản hồi</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("NotificationCenter", "Notification", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Trung Tâm Thông Báo</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("ProfileUser", "Account", new { area = "" })" class="nav-sub-link"><i data-feather="user"></i>Đổi thông tin tài khoản</a></li>
                    <li class="nav-sub-item"><a href="/Package/PackageList" class="nav-sub-link"><i data-feather="user"></i>Gói phần mềm</a></li>
                    <li class="nav-sub-item"><a href="/User/UserOwner" class="nav-sub-link"><i data-feather="user"></i>Danh sách chủ nhà</a></li>
                    <li class="nav-sub-item"><a href="javascript:;" class="nav-sub-link"><i data-feather="monitor"></i>Hướng dẫn sử dụng</a></li>
                </ul>
            </li>
            break;

        case 4: // nhân viên của chủ nhà
            <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Trang điều hướng</li>
            <li class="nav-item @ViewBag.Dashboard">
                <a href="@Url.Action("Dashboard", "Home", new { area = "" })" class="nav-link"><i class="fas fa-chart-area"></i> <span class="mg-l-5">Thống kê</span></a>
            </li>
            <li class="nav-item @ViewBag.ListHouse">
                <a href="@Url.Action("BranchList", "Branch", new { area = "" })" class="nav-link"><i class="fas fa-home"></i> <span class="mg-l-5">Nhà/Dãy trọ</span></a>
            </li>
            <li class="nav-item @ViewBag.ListRoom">
                <a href="@Url.Action("RoomList", "Room", new { area = "" })" class="nav-link"><i class="fas fa-hospital-alt"></i> <span class="mg-l-5">Phòng</span></a>
            </li>
            <li class="nav-item @ViewBag.ElectrictWater">
                <a href="@Url.Action("RecordList", "Record", new { area = "" })" class="nav-link"><i class="fas fa-edit"></i> <span class="mg-l-5">Ghi điện nước</span></a>
            </li>
            <li class="nav-item @ViewBag.CollectList">
                <a href="@Url.Action("PaymentHistoryList", "PaymentHistory", new { area = "" })" class="nav-link"><i class="fas fa-history"></i> <span class="mg-l-5">Lịch sử thu tiền</span></a>
            </li>
            <li class="nav-item with-sub">
                <a href="javascript:;" class="nav-link"><i class="fas fa-cog"></i> <span class="mg-l-5">Cấu hình</span></a>
                <ul class="navbar-menu-sub">
                    <li class="nav-sub-item"><a href="@Url.Action("Cities", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-city mr-3"></i>Địa chỉ</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("VehicleFeeConfig", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-car-side mr-3"></i>Phí giữ xe</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("UtilitiesConfig", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Tiện ích</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("Contract", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Mẫu Giấy Phép</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("ListAllContract", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Xem Giấy Phép</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("CustomerResource", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Nguồn Khách hàng</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("FeedBackType", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>loại phản hồi</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("UserFeedback", "Feedback", new { area = "" })" class="nav-sub-link"><i data-feather="user"></i>Phản hồi</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("NotificationCenter", "Notification", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Trung Tâm Thông Báo</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("ProfileUser", "Account", new { area = "" })" class="nav-sub-link"><i data-feather="user"></i>Đổi thông tin tài khoản</a></li>
                    <li class="nav-sub-item"><a href="/Package/PackageList" class="nav-sub-link"><i data-feather="user"></i>Gói phần mềm</a></li>
                    <li class="nav-sub-item"><a href="/User/UserOwner" class="nav-sub-link"><i data-feather="user"></i>Danh sách chủ nhà</a></li>
                    <li class="nav-sub-item"><a href="javascript:;" class="nav-sub-link"><i data-feather="monitor"></i>Hướng dẫn sử dụng</a></li>
                </ul>
            </li>
            break;

        case 5: //khách thuê trọ
            <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Trang điều hướng</li>
            <li class="nav-item @ViewBag.Dashboard">
                <a href="@Url.Action("Dashboard", "Home", new { area = "" })" class="nav-link"><i class="fas fa-chart-area"></i> <span class="mg-l-5">Thống kê</span></a>
            </li>
            <li class="nav-item @ViewBag.ListHouse">
                <a href="@Url.Action("BranchList", "Branch", new { area = "" })" class="nav-link"><i class="fas fa-home"></i> <span class="mg-l-5">Nhà/Dãy trọ</span></a>
            </li>
            <li class="nav-item @ViewBag.ListRoom">
                <a href="@Url.Action("RoomList", "Room", new { area = "" })" class="nav-link"><i class="fas fa-hospital-alt"></i> <span class="mg-l-5">Phòng</span></a>
            </li>
            <li class="nav-item @ViewBag.ElectrictWater">
                <a href="@Url.Action("RecordList", "Record", new { area = "" })" class="nav-link"><i class="fas fa-edit"></i> <span class="mg-l-5">Ghi điện nước</span></a>
            </li>
            <li class="nav-item @ViewBag.CollectList">
                <a href="@Url.Action("PaymentHistoryList", "PaymentHistory", new { area = "" })" class="nav-link"><i class="fas fa-history"></i> <span class="mg-l-5">Lịch sử thu tiền</span></a>
            </li>
            <li class="nav-item with-sub">
                <a href="javascript:;" class="nav-link"><i class="fas fa-cog"></i> <span class="mg-l-5">Cấu hình</span></a>
                <ul class="navbar-menu-sub">
                    <li class="nav-sub-item"><a href="@Url.Action("Cities", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-city mr-3"></i>Địa chỉ</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("VehicleFeeConfig", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-car-side mr-3"></i>Phí giữ xe</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("UtilitiesConfig", "Config", new { area = "" })" class="nav-sub-link"><i class="fas fa-puzzle-piece mr-3"></i>Tiện ích</a></li>
                    <li class="nav-sub-item"><a href="@Url.Action("UserFeedback", "Feedback", new { area = "" })" class="nav-sub-link"><i data-feather="user"></i>Phản hồi</a></li>
                    <li class="nav-sub-item"><a href="/Package/PackageList" class="nav-sub-link"><i data-feather="user"></i>Gói phần mềm</a></li>
                    <li class="nav-sub-item"><a href="/User/UserOwner" class="nav-sub-link"><i data-feather="user"></i>Danh sách chủ nhà</a></li>
                    <li class="nav-sub-item"><a href="javascript:;" class="nav-sub-link"><i data-feather="monitor"></i>Hướng dẫn sử dụng</a></li>
                </ul>
            </li>
            break;

        default:
            // code block
            break;
    }
}
<script>
    //function setActive(path) {
    //    console.log(path);
    //    if (path.toLowerCase().indexOf('/dashboard') != -1) {
    //        console.log(path);
    //        $('.nav-Dashboard').addClass('active')
    //    }
    //    if (path.toLowerCase().indexOf('/customerlist') != -1 || path.toLowerCase().indexOf('/listlouse') != -1 || path.toLowerCase().indexOf('/listroom') != -1) {
    //        $('.nav-CustomerList').addClass('active')
    //        console.log(path);
    //    }
    //    if (path.toLowerCase().indexOf('/sessionpayment') != -1) {
    //        $('.nav-SessionPayment').addClass('active')
    //        console.log(path);
    //    }
    //}
</script>


