@model CoreModel
<!---Upload 1 hình-->
<script>
    //lưu hình
    $('body').on('change', '.upload-image-temp', function (event) {
        let input, files, $previewBox;
        input = event.target;
        files = input.files;
        $previewBox = $(input).closest('.upload-box').find('.preview-image');
        while ($previewBox.get(0).firstChild) {
            $previewBox.get(0).removeChild($previewBox.get(0).firstChild);
        }

        Array.from(files).map((file, index) => {
            let url_img;
            let formData = new FormData();
            formData.append("file", file);
            //console.log(formData);
            $.ajax({
                async: false,
                type: 'POST',
                url: '@Model.Domain' + 'api/file/upload-file',
                data: formData,
                headers: {
                    'Authorization': 'Bearer ' + '@Model.Token',
                },
                contentType: false,
                processData: false,
                success: function (data, status, xhr) {
                    url_img = '@Model.Domain' + data.Data;
                    $('input[name=hdfImage]').val(data.Data);
                },
                error: function (xhr, status, error) {
                    console.log("Result upload image: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                }
            });
            let reader = new FileReader();
            let $imgBox = $('<div class="image-box lightgallery"></div');
            let $imgWrap = $('<div class="image-wrap"></div>');
            reader.onload = function (e) {
                const $img = $('<a href="' + url_img + '" class=""><img src="' + url_img + '" Modellass="img" alt="image"></a>');
                const $delete = $('<a href="javascript:;" class="delete-image delete-image-temp"><i class="fas fa-times"></i></a>');
                $imgBox.append($img);
                $imgWrap.appenModelodel($delete);
                $imgWrap.append($imgBox);
                $previewBox.append($imgWrap);
            };
            reader.onloadend = function (e) {
                //initLightGallery();
            }
            reader.readAsDataURL(file);
        });
    });

    //Upload nhiều hình
    $('.btn-uploads').on('click', function () {
        $('.upload-image-temps').click();
    });
    $('body').on('change', '.upload-image-temps', function (event) {
        let input, files, $previewBox;
        input = event.target;
        files = input.files;
        $previewBox = $(input).closest('.upload-boxs').find('.preview-image');

        Array.from(files).map((file, index) => {
            let url_img;
            let img_name;
            let formData = new FormData();
            for (var i = 0; i < files.length; i++) {
                formData.append("files", files[i]);
            }
            //console.log(formData);
            $.ajax({
                async: false,
                type: 'POST',
                url: '@Model.Domain' + 'api/file/upload-multiple-files',
                data: formData,
                headers: {
                    'Authorization': 'Bearer ' + '@Model.Token',
                },
                contentType: false,
                processData: false,
                success: function (data, status, xhr) {
                    url_img = '@Model.Domain' + data.Data;
                    img_name = data.Data;
                },
                error: function (xhr, status, error) {
                    console.log("Result upload image: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                }
            });
            let reader = new FileReader();
            let $imgBox = $('<div class="image-box lightgallery"></div');
            let $imgWrap = $('<div class="image-wrap w-25"></div>');
            reader.onload = function (e) {
                const $img = $('<a href="' + url_img + '" data-name="' + img_name + '" class=""><img src="' + url_img + '" class="img" alt="image"></a>');
                const $delete = $('<a href="javascript:;" class="delete-image delete-image-temp"><i class="fas fa-times"></i></a>');
                $imgBox.append($img);
                $imgWrap.append($delete);
                $imgWrap.append($imgBox);
                $previewBox.append($imgWrap);
            };
            reader.onloadend = function (e) {
                //initLightGallery();
            }
            reader.readAsDataURL(file);
        });
    });
    $(document).on('click', '.image-wrap .delete-image-temp', function (e) {
        e.preventDefault();
        $(this).closest('.image-wrap').hide(500, function () {
            $(this).remove();
        })
    });
</script>
