@using Sample.Entities;
@model Users
<a href="tel:1900636648"><i data-feather="phone-call" style="width:16px; margin-right:5px;"></i>1900 636 648</a>
<div class="dropdown dropdown-notification">
    <a href="javascript:;" class="dropdown-link new-indicator" data-toggle="dropdown">
        <i data-feather="bell"></i>
        <span>99</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-header">Notifications</div>

        <div class="dropdown-footer"><a href="@Url.Action("Notification", "Account", new { area = "" })">View all Notifications</a></div>
    </div><!-- dropdown-menu -->
</div><!-- dropdown -->
<div class="dropdown dropdown-profile">
    <a href="javascript:;" class="dropdown-link" data-toggle="dropdown" data-display="static">
        <div class="avatar avatar-sm">
            <img src="~/house/images/user.png" class="rounded-circle" alt="">
        </div>
    </a><!-- dropdown-link -->
    <div class="dropdown-menu dropdown-menu-right tx-13">
        <div class="avatar avatar-lg mg-b-15">
            <img src="~/house/images/user.png" class="rounded-circle" alt="">
        </div>
        <h6 class="tx-semibold mg-b-5">@Model.FullName</h6>
        <p class="mg-b-5 tx-12 tx-color-03">Loại tài khoản: <span class="badge badge-primary">Premium</span></p>
        <p class="mg-b-25 tx-12 tx-color-03">Hết hạn: <span class="tx-bold">25/04/2020</span></p>
        <a href="@Url.Action("ProfileUser", "Account", new { area = "" })" class="dropdown-item"><i data-feather="user"></i> Thông tin tài khoản</a>
        <a href="@Url.Action("Price", "PriceTable", new { area = "" })" class="dropdown-item"><i data-feather="chevrons-up"></i> Nâng cấp tài khoản</a>
        <a href="tel:1900636648" class="dropdown-item"><i data-feather="phone-call" style="font-size:16px;"></i> Hỗ trợ: 1900 636 648</a>
        <div class="dropdown-divider"></div>
        <a href="@Url.Action("Signout", "Login")" class="dropdown-item"><i data-feather="log-out"></i>Đăng xuất</a>
    </div><!-- dropdown-menu -->
</div><!-- dropdown -->